<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/JS/Canvas1.js"></script>
<style type="text/css">

span.cls_003{font-family:Arial,serif;font-size:37.5px;color:rgb(241,47,106);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:37.5px;color:rgb(241,47,106);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:18.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:18.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:13.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:13.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:9.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:9.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:12.1px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:12.1px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:16.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:16.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:13.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:13.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:10.6px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:10.6px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:18.8px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:18.8px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:Arial,serif;font-size:10.6px;color:rgb(213,213,213);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:Arial,serif;font-size:10.6px;color:rgb(213,213,213);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Arial,serif;font-size:9.1px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:9.1px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}

</style>
<script type="text/javascript" src="proposalAgency/wz_jsgraphics.js"></script>
</head>
<body style="background-color: #EDEDED">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button type="button" class="btn btn-arrow-right " id="sign"> <small>Send</small></button>
    </div>
</nav>

<div class="sidebar main" id="table-wrapper">
    <div id="table-scroll" class="m1 menu" >
        <div id="menu-center">
            <table style="width:100%">
                <tbody>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
                  <tr class="tr1"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a  href="#p1"> <img class="active" src="./assets/proposal2/proposal2.0.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a2" style="padding:1%"><small style="color:#004053;">Overview</small></a></th> </tr> 
                  <tr class="tr2"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p2"> <img src="./assets/proposal2/proposal2.1.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a3" style="padding:1%"><small style="color:#004053;">Project Summary</small></a></th> </tr> 
                  <tr class="tr3"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p3"> <img src="./assets/proposal2/proposal2.2.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a4" style="padding:1%"><small style="color:#004053;">Project Activities</small></a></th> </tr> 
                  <tr class="tr4"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p4"> <img src="./assets/proposal2/proposal2.3.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a5" style="padding:1%"><small style="color:#004053;">Timeline</small></a></th> </tr> 
                  <tr class="tr5"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p5"> <img src="./assets/proposal2/proposal2.4.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a6" style="padding:1%"><small style="color:#004053;">About Us</small></a></th> </tr> 
                  <tr class="tr6"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p6"> <img src="./assets/proposal2/proposal2.5.png" height="40px" width="50px"/></a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a7" style="padding:1%"><small style="color:#004053;">Meet Our Team</small></a></th> </tr> 
                  <tr class="tr7"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p7"> <img src="./assets/proposal2/proposal2.6.png" height="40px" width="50px"/></a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a8" style="padding:1%"><small style="color:#004053;">Cost Summary</small></a></th> </tr> 
                  <tr class="tr8"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p8"> <img src="./assets/proposal2/proposal2.7.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a9" style="padding:1%"><small style="color:#004053;">Statement of Work a...</small></a></th> </tr> 
                  <tr class="tr9"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p9"> <img src="./assets/proposal2/proposal2.8.png" height="40px" width="50px"/> </a> <a href="#p10"> <img src="./assets/proposal2/proposal2.9.png" height="40px" width="50px"/> </a> </td></tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>  

<div style="position:absolute;left:50%;margin-left:-297px;top:90px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box" >
      <canvas id="c" width=590 height=835	style="border-style: ridge"></canvas>
  </div></div>
  <div style="position:absolute;left:75.00px;top:120.48px" class="cls_003"><span class="cls_003"><canvas id="p1" width="450px" height="200px" ></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:165.48px" class="cls_003"><span class="cls_003"></span></div>
  <div style="position:absolute;left:75.00px;top:612.83px" class="cls_002"><span class="cls_002"><canvas id="p2" width="450px"></canvas></span></div>
  <div style="position:absolute;left:79.00px;top:637.39px" class="cls_004"><span class="cls_004">| {{comname}} </span></div>
  <div style="position:absolute;left:79.00px;top:652.39px" class="cls_004"><span class="cls_004">| {{comemail}} </span></div>
  <div style="position:absolute;left:75.00px;top:684.58px" class="cls_005"><span class="cls_005">CLIENT: {{cname}}</span></div>
  <div style="position:absolute;left:75.00px;top:704.83px" class="cls_005"><span class="cls_005">DELIVERED ON: {{comdate}}</span></div>
  <div style="position:absolute;left:75.00px;top:725.08px" class="cls_005"><span class="cls_005">SUBMITTED BY: {{comname}}</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:941px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c1" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>
  <div style="position:absolute;left:30.00px;top:98.80px" class="cls_006"><span class="cls_006"><canvas id="p3" height="600px" width="530px"></canvas></span></div>
  <div style="position:absolute;left:37.00px;top:540.05px" class="cls_006"><span class="cls_006">{{comname}}</span></div>
  <div style="position:absolute;left:293.86px;top:803.55px" class="cls_007"><span class="cls_007">1</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:1792px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c2" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:141.97px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p4" height="600px" width="450px"></canvas></span></div>
  <div style="position:absolute;left:45.00px;top:154.30px" class="cls_006"><span class="cls_006"><canvas id="p5" height="600px" width="530px"></canvas></span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">2</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:2643px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c3" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:140.96px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p6" height="600px" width="450px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:164.64px" class="cls_008"><span class="cls_008"><canvas id="p7" height="600px" width="450px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:185.80px" class="cls_006"><span class="cls_006"><canvas id="p8" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:267.39px" class="cls_008"><span class="cls_008"><canvas id="p9" height="600px" width="450px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:288.55px" class="cls_006"><span class="cls_006"><canvas id="p10" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:404.64px" class="cls_008"><span class="cls_008"><canvas id="p11" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:425.80px" class="cls_006"><span class="cls_006"><canvas id="p12" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:524.64px" class="cls_008"><span class="cls_008"><canvas id="p13" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:545.80px" class="cls_006"><span class="cls_006"><canvas id="p14" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">3</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:3494px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c4" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:149.66px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p15" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:164.64px" class="cls_008"><span class="cls_008">{{comname}} will provide:</span></div>
  <div style="position:absolute;left:85.91px;top:185.80px" class="cls_006"><span class="cls_006"><canvas id="p16" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:255.01px" class="cls_008"><span class="cls_008"><canvas id="p17" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:85.91px;top:276.17px" class="cls_006"><span class="cls_006"><canvas id="p18" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">4</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:4345px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c5" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:212.80px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p19" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:154.30px" class="cls_006"><span class="cls_006"><canvas id="p20" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:90.01px;top:467.25px" class="cls_009"><span class="cls_009"><canvas id="p21" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">5</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:5196px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c6" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:154.74px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p22" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:235.44px;top:165.96px" class="cls_010"><span class="cls_010"><canvas id="p23" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:160.67px;top:566.39px" class="cls_004"><span class="cls_004"><canvas id="p24" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">6</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:6047px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c7" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:164.79px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p25" height="600px" width="500px"></canvas></span></div>
  <div style="position:absolute;left:75.00px;top:154.30px" class="cls_006"><span class="cls_006">Based on our preliminary discussion of your needs, the following budget had been prepared.</span></div>
  <div style="position:absolute;left:75.00px;top:171.55px" class="cls_006"><span class="cls_006">Additional expenses including travel, printing, and other incidentals will be billed separately.</span></div>
  <div style="position:absolute;left:81.00px;top:204.09px" class="cls_012"><span class="cls_012">Description</span></div>
  <div style="position:absolute;left:489.95px;top:204.09px" class="cls_012"><span class="cls_012">Price</span></div>
  <div style="position:absolute;left:89.25px;top:240.50px" class="cls_013"><span class="cls_013">Initiate project/develop project charter</span></div>
  <div style="position:absolute;left:466.17px;top:240.50px" class="cls_013"><span class="cls_013">$8,000</span></div>
  <div style="position:absolute;left:89.25px;top:285.50px" class="cls_013"><span class="cls_013">Develop work plan</span></div>
  <div style="position:absolute;left:461.75px;top:285.50px" class="cls_013"><span class="cls_013">$15,000</span></div>
  <div style="position:absolute;left:89.25px;top:330.50px" class="cls_013"><span class="cls_013">Execute and control project</span></div>
  <div style="position:absolute;left:458.34px;top:330.50px" class="cls_013"><span class="cls_013">$30,000</span></div>
  <div style="position:absolute;left:89.25px;top:375.50px" class="cls_013"><span class="cls_013">Total</span></div>
  <div style="position:absolute;left:459.55px;top:375.50px" class="cls_013"><span class="cls_013">$53,000</span></div>
  <div style="position:absolute;left:75.00px;top:435.55px" class="cls_006"><span class="cls_006">{{comname}} bills 50% of the total cost up front. The remaining 50% is due within 30 days of project</span></div>
  <div style="position:absolute;left:75.00px;top:452.80px" class="cls_006"><span class="cls_006">completion. Expenses are billed monthly.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">7</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:6898px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c8" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:140.00px;top:92.73px" class="cls_003"><span class="cls_003"><canvas id="p26" height="600px" width="800px"></canvas></span></div>
  <div style="position:absolute;left:55.00px;top:212.05px" class="cls_014"><span class="cls_014"><canvas id="p27" height="600px" width="800px"></canvas></span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">8</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:7749px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
      <canvas id="c9" width=590 height=835 style="border-style: ridge"></canvas>
  </div></div>  
  <div style="position:absolute;left:75.00px;top:98.80px" class="cls_006"><span class="cls_006"><canvas id="p28" height="600px" width="800px"></canvas></span></div>
  
  <div style="position:absolute;left:75.00px;top:365.80px" class="cls_006"><span class="cls_006">{{comname}}: __________________________________ (Signature)</span></div>
  <div style="position:absolute;left:75.00px;top:398.80px" class="cls_006"><span class="cls_006">Date: </span></div>
  
  <div style="position:absolute;left:75.00px;top:464.80px" class="cls_006"><span class="cls_006">{{cname}}: _______________________________ (Signature)</span></div>
  <div style="position:absolute;left:75.00px;top:497.80px" class="cls_006"><span class="cls_006">Date: </span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">9</span></div>
  </div>
  <div style="position:absolute;left:50%;top:8540px;width:595px;height:93px"></div>

  <div class="sidenav-r">
        <br><br>
        <div>
        <table style="width:100%">
                <tbody>
                    <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>IMAGE PROPERTIES</b> </small></th> </tr> 
                </tbody>
        </table>
        </div>
      <div id="text-wrapper" style="margin-top: 10px; padding-left: 20px;" >
        <div id="text-controls">
            <div class="row">
                <div class="col"> <p>
                    <label><span> <small class="text-muted">Width</small></span> <input type="number" class="form-control input-xs" id="left-control" value="24" min="-500" max="300" style="width:75px;height: 35px;"></label>
                  </p></div>
                <div class="col"><p>
                    <label><span><small class="text-muted">Height</small></span> <input type="number" class="form-control input-xs" id="top-control" value="10" min="-500" max="300" style="width:75px;height: 35px"></label>
                  </p></div>
              </div>    
              <div class="row" >
                  <div class="col" ><p>
                      <label><span><small class="text-muted">Corners</small></span> <input type="number" class="form-control input-xs" id="scale-control" value="0.7" min="0.1" max="3" step="0.1" style="width:75px;height: 35px"></label>
                    </p></div>
                  <div class="col"><p>
                      <label><span><small class="text-muted">Rotate</small></span> <input type="number" class="form-control input-xs" id="angle-control" value="0"  min="0" max="360" style="width:75px;height: 35px"></label>
                    </p></div>
              </div>
          </div>
      </div>
      <div>
        <table style="width:100%">
                <tbody>
                    <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>TEXT PROPERTIES</b> </small></th> </tr> 
                </tbody>
        </table>
        </div>
      <div id="text-wrapper" style="margin-top: 10px; padding-left: 20px;" >
        <div id="text-controls">
            <div class="row">
                <div class="col"> <p>
                    <label><i class="fa fa-bold"  id="bold" aria-hidden="true"></i></label>
                  </p></div>
                <div class="col"><p>
                    <label><i class="fa fa-italic"  id="italic" aria-hidden="true"></i></label>
                  </p></div>
                  <div class="col" ><p>
                      <label><i class="fa fa-superscript" id="super-script" aria-hidden="true"></i></label>
                    </p></div>
                  <div class="col"><p>
                      <label><i class="fa fa-subscript" id="sub-script" aria-hidden="true"></i></label>
                    </p></div>
              </div>
              <div class="row">
                    <div class="col"> <p>
                            <label><span> <small class="text-muted">Font Colour</small></span><input type="color" class="form-control input-xs" value="24" min="-500" max="300" style="width:75px;height: 35px;" id="color"></label>    
                      </p></div>
                      <div class="col"><p>
                            <label><span> <small class="text-muted">Font Size</small></span><input type="number" class="form-control input-xs" min="5" max="150" value="20" style="width:75px;height: 35px;" id="size"></label>
                      </p></div>
                    <div class="col"><p>
                            <label><span> <small class="text-muted">BG Color</small></span><input type="color" class="form-control input-xs" value="24" min="-500" max="300" style="width:75px;height: 35px;" id="bg-color"></label>
                      </p></div>
                      <div class="col">
                      <label><span><small class="text-muted">Font Style</small></span>
                            <select id="font-family" class="form-control" style="height: 35px;">
                                <option value="arial">Arial</option>
                                <option value="myriad pro">Myriad Pro</option>
                                <option value="courier">Courier</option>
                                <option value="comic sans ms">Comic Sans MS</option>
                            </select></label>
                        </div>
                  </div>
          </div>
        </div>
      <div>
          <table style="width:100%">
                  <tbody>
                      <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>PROPOSAL DETAILS  </b> </small></th> </tr> 
                  </tbody>
          </table>
          </div>
          <p>
              <label style="margin-top: 10px; padding-left: 20px;"><span> <small class="text-muted">NAME & CLIENT</small></span></label>
              <br>
              <small class="text-muted" style="padding-left: 20px;"><font size="2"> NAME :-</font></small>
              <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> ​Agency​ Proposal </b></font></small> 
              <br>
              <small class="text-muted" style="padding-left: 20px;"><font size="2"> CLIENT :-</font></small>
              <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> {{cname}} </b></font></small>
            </p> 
            <hr> 
            <p>
                <label style="padding-left: 20px;"><span> <small class="text-muted">PROPOSAL PRICE</small></span></label>
                <br>
                <small class="text-muted" style="padding-left: 20px;"><font size="2"> One Time Fee :-</font></small>
                <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> INR53,000.00 </b></font></small> 
                <br>
                <small class="text-muted" style="padding-left: 20px;"><input type="checkbox" aria-label="Checkbox for following text input" checked></small>
                <small class="text-muted" style="padding-left: 5px"><font size="2">Include taxes in preview </font></small>
                <i class="fa fa-question-circle"></i>
              </p> 
                 
    </div>
</body>
</html>
