<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">

span.cls_003{font-family:Arial,serif;font-size:37.5px;color:rgb(241,47,106);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:37.5px;color:rgb(241,47,106);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:18.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:18.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:13.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:13.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:9.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:9.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:12.1px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:12.1px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:16.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:16.6px;color:rgb(255,255,255);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:13.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:13.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:10.6px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:10.6px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(194,172,17);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:18.8px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:18.8px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:Arial,serif;font-size:10.6px;color:rgb(213,213,213);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:Arial,serif;font-size:10.6px;color:rgb(213,213,213);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Arial,serif;font-size:9.1px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:9.1px;color:rgb(0,64,83);font-weight:normal;font-style:normal;text-decoration: none}

</style>
<script type="text/javascript" src="proposalAgency/wz_jsgraphics.js"></script>
</head>
<body style="background-color: #EDEDED">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button type="button" class="btn btn-arrow-right " id="sign"> <small>Send</small></button>
    </div>
</nav>

<div class="sidebar main" id="table-wrapper">
    <div id="table-scroll" class="m1 menu" >
        <div id="menu-center">
            <table style="width:100%">
                <tbody>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
                  <tr class="tr1"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a  href="#p1"> <img class="active" src="./assets/proposal2/proposal2.0.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a2" style="padding:1%"><small style="color:#004053;">Overview</small></a></th> </tr> 
                  <tr class="tr2"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p2"> <img src="./assets/proposal2/proposal2.1.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a3" style="padding:1%"><small style="color:#004053;">Project Summary</small></a></th> </tr> 
                  <tr class="tr3"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p3"> <img src="./assets/proposal2/proposal2.2.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a4" style="padding:1%"><small style="color:#004053;">Project Activities</small></a></th> </tr> 
                  <tr class="tr4"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p4"> <img src="./assets/proposal2/proposal2.3.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a5" style="padding:1%"><small style="color:#004053;">Timeline</small></a></th> </tr> 
                  <tr class="tr5"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p5"> <img src="./assets/proposal2/proposal2.4.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a6" style="padding:1%"><small style="color:#004053;">About Us</small></a></th> </tr> 
                  <tr class="tr6"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p6"> <img src="./assets/proposal2/proposal2.5.png" height="40px" width="50px"/></a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a7" style="padding:1%"><small style="color:#004053;">Meet Our Team</small></a></th> </tr> 
                  <tr class="tr7"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p7"> <img src="./assets/proposal2/proposal2.6.png" height="40px" width="50px"/></a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a8" style="padding:1%"><small style="color:#004053;">Cost Summary</small></a></th> </tr> 
                  <tr class="tr8"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p8"> <img src="./assets/proposal2/proposal2.7.png" height="40px" width="50px"/> </a> </td></tr>
                  <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a9" style="padding:1%"><small style="color:#004053;">Statement of Work a...</small></a></th> </tr> 
                  <tr class="tr9"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p9"> <img src="./assets/proposal2/proposal2.8.png" height="40px" width="50px"/> </a> <a href="#p10"> <img src="./assets/proposal2/proposal2.9.png" height="40px" width="50px"/> </a> </td></tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>  

<div style="position:absolute;left:50%;margin-left:-297px;top:90px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background01.jpg" width=595 height=841></div>
  <div style="position:absolute;left:75.00px;top:120.48px" class="cls_003"><span class="cls_003">Project Management</span></div>
  <div style="position:absolute;left:75.00px;top:165.48px" class="cls_003"><span class="cls_003">You Can Count On</span></div>
  <div style="position:absolute;left:75.00px;top:612.83px" class="cls_002"><span class="cls_002">Agency Project Management Services</span></div>
  <div style="position:absolute;left:79.00px;top:637.39px" class="cls_004"><span class="cls_004">| {{comname}} </span></div>
  <div style="position:absolute;left:79.00px;top:652.39px" class="cls_004"><span class="cls_004">| {{comemail}} </span></div>
  <div style="position:absolute;left:75.00px;top:684.58px" class="cls_005"><span class="cls_005">CLIENT: {{cname}}</span></div>
  <div style="position:absolute;left:75.00px;top:704.83px" class="cls_005"><span class="cls_005">DELIVERED ON: {{comdate}}</span></div>
  <div style="position:absolute;left:75.00px;top:725.08px" class="cls_005"><span class="cls_005">SUBMITTED BY: {{comname}}</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:941px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background02.jpg" width=595 height=841></div>
  <div style="position:absolute;left:75.00px;top:98.80px" class="cls_006"><span class="cls_006">Dear Ms. Arthur,</span></div>
  <div style="position:absolute;left:75.00px;top:131.80px" class="cls_006"><span class="cls_006">Your company, {{cname}}, is preparing to take on a large and complex project. You need</span></div>
  <div style="position:absolute;left:75.00px;top:149.05px" class="cls_006"><span class="cls_006">professional project management to help you navigate complicated regulations, ensure</span></div>
  <div style="position:absolute;left:75.00px;top:166.30px" class="cls_006"><span class="cls_006">contractors and suppliers are in place when and where you need them, and communicate with</span></div>
  <div style="position:absolute;left:75.00px;top:183.55px" class="cls_006"><span class="cls_006">project stakeholders.</span></div>
  <div style="position:absolute;left:75.00px;top:216.55px" class="cls_006"><span class="cls_006">With so many moving parts, the need to stay on track and be organized is obvious. infosys knows</span></div>
  <div style="position:absolute;left:75.00px;top:233.80px" class="cls_006"><span class="cls_006">big projects. We have the training and skills you need to ensure your venture happens on time and</span></div>
  <div style="position:absolute;left:75.00px;top:251.05px" class="cls_006"><span class="cls_006">on budget with buy-in from colleagues and partners, all while managing risk.</span></div>
  <div style="position:absolute;left:75.00px;top:284.05px" class="cls_006"><span class="cls_006">infosys has the knowledge, systems, tools, and track record to steward your project from concept</span></div>
  <div style="position:absolute;left:75.00px;top:301.30px" class="cls_006"><span class="cls_006">to completion. We'll make sure that the project you dream up is the project you get - without pain,</span></div>
  <div style="position:absolute;left:75.00px;top:318.55px" class="cls_006"><span class="cls_006">without compromises, and without surprises.</span></div>
  <div style="position:absolute;left:75.00px;top:351.55px" class="cls_006"><span class="cls_006">The attached proposal outlines the assessment, design, implementation, and management</span></div>
  <div style="position:absolute;left:75.00px;top:368.80px" class="cls_006"><span class="cls_006">strategies we bring to the table. We're confident that our approach is a perfect fit for the project</span></div>
  <div style="position:absolute;left:75.00px;top:386.05px" class="cls_006"><span class="cls_006">management needs of vaibhav patel.</span></div>
  <div style="position:absolute;left:75.00px;top:429.05px" class="cls_006"><span class="cls_006">Sincerely,</span></div>
  <div style="position:absolute;left:75.00px;top:485.05px" class="cls_006"><span class="cls_006">{{comname}}</span></div>
  <div style="position:absolute;left:293.86px;top:803.55px" class="cls_007"><span class="cls_007">1</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:1792px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background03.jpg" width=595 height=841></div>
  <div style="position:absolute;left:141.97px;top:92.73px" class="cls_003"><span class="cls_003">Project Summary</span></div>
  <div style="position:absolute;left:75.00px;top:154.30px" class="cls_006"><span class="cls_006">Successful project management is all about assessing a client's needs and choosing the right tools</span></div>
  <div style="position:absolute;left:75.00px;top:171.55px" class="cls_006"><span class="cls_006">for the job. We work to understand all aspects of your project, build custom solutions to move it</span></div>
  <div style="position:absolute;left:75.00px;top:188.80px" class="cls_006"><span class="cls_006">forward, and implement a plan to complete it on time - on or under budget.</span></div>
  <div style="position:absolute;left:75.00px;top:235.89px" class="cls_008"><span class="cls_008">Key Deliverables</span></div>
  <div style="position:absolute;left:90.91px;top:257.05px" class="cls_006"><span class="cls_006">• A unique project profile that will guide the project management team and help all</span></div>
  <div style="position:absolute;left:105.00px;top:274.30px" class="cls_006"><span class="cls_006">stakeholders focus on the goals and purpose of the project.</span></div>
  <div style="position:absolute;left:90.91px;top:296.42px" class="cls_006"><span class="cls_006">• A customized plan tailored to the specific needs of the vaibhav patel project. This includes</span></div>
  <div style="position:absolute;left:105.00px;top:313.67px" class="cls_006"><span class="cls_006">protocols, systems, tools, and templates to keep everyone in the loop and ensure that the</span></div>
  <div style="position:absolute;left:105.00px;top:330.92px" class="cls_006"><span class="cls_006">supplies, information, and people you need are there when you need them.</span></div>
  <div style="position:absolute;left:90.91px;top:353.05px" class="cls_006"><span class="cls_006">• Management and support as the project plans rolls out. This includes continuous</span></div>
  <div style="position:absolute;left:105.00px;top:370.30px" class="cls_006"><span class="cls_006">monitoring of goals and objectives to ensure timely completion of benchmarks,</span></div>
  <div style="position:absolute;left:105.00px;top:387.55px" class="cls_006"><span class="cls_006">communication across the organization and to external stakeholders, and a comprehensive</span></div>
  <div style="position:absolute;left:105.00px;top:404.80px" class="cls_006"><span class="cls_006">risk management strategy.</span></div>
  <div style="position:absolute;left:90.91px;top:426.92px" class="cls_006"><span class="cls_006">• Your project - completed your way.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">2</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:2643px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background04.jpg" width=595 height=841></div>
  <div style="position:absolute;left:140.96px;top:92.73px" class="cls_003"><span class="cls_003">Project Activities</span></div>
  <div style="position:absolute;left:75.00px;top:164.64px" class="cls_008"><span class="cls_008">Phase 1: Initial Consultation</span></div>
  <div style="position:absolute;left:75.00px;top:185.80px" class="cls_006"><span class="cls_006">In a series of three meetings, we'll get to know you and your project. We'll assess the strengths</span></div>
  <div style="position:absolute;left:75.00px;top:203.05px" class="cls_006"><span class="cls_006">and weaknesses within your internal project team and systems, and identify the expertise you</span></div>
  <div style="position:absolute;left:75.00px;top:220.30px" class="cls_006"><span class="cls_006">need to get going.</span></div>
  <div style="position:absolute;left:75.00px;top:267.39px" class="cls_008"><span class="cls_008">Phase 2: Solution Design and Modelling</span></div>
  <div style="position:absolute;left:75.00px;top:288.55px" class="cls_006"><span class="cls_006">Using project management best practices, we'll create your project solution design. This is a set of</span></div>
  <div style="position:absolute;left:75.00px;top:305.80px" class="cls_006"><span class="cls_006">recommendations and plans, including project management software, tools, and benchmarks for</span></div>
  <div style="position:absolute;left:75.00px;top:323.05px" class="cls_006"><span class="cls_006">success. This model for how your project will roll out allows you to back up your decisions with</span></div>
  <div style="position:absolute;left:75.00px;top:340.30px" class="cls_006"><span class="cls_006">evidence and keep everybody on the same page. The plan encompasses every aspect of your</span></div>
  <div style="position:absolute;left:75.00px;top:357.55px" class="cls_006"><span class="cls_006">project: the purpose, scope, cost, and timeline.</span></div>
  <div style="position:absolute;left:75.00px;top:404.64px" class="cls_008"><span class="cls_008">Phase 3: Implementation</span></div>
  <div style="position:absolute;left:75.00px;top:425.80px" class="cls_006"><span class="cls_006">This is where we press the start button and get your project rolling. Your solution design</span></div>
  <div style="position:absolute;left:75.00px;top:443.05px" class="cls_006"><span class="cls_006">guarantees your project aligns with your company values. The implementation phase ensures your</span></div>
  <div style="position:absolute;left:75.00px;top:460.30px" class="cls_006"><span class="cls_006">employees work better themselves and with their teams, get agreement on priorities, commit to a</span></div>
  <div style="position:absolute;left:75.00px;top:477.55px" class="cls_006"><span class="cls_006">schedule, manage risk, keep the plan updated, and finish the project on time.</span></div>
  <div style="position:absolute;left:75.00px;top:524.64px" class="cls_008"><span class="cls_008">Phase 4: Management and Support</span></div>
  <div style="position:absolute;left:75.00px;top:545.80px" class="cls_006"><span class="cls_006">Once the project is underway, we're here to manage both the day-to-day workflow and the big</span></div>
  <div style="position:absolute;left:75.00px;top:563.05px" class="cls_006"><span class="cls_006">picture priorities. We also support your people to learn the principles of project management, so</span></div>
  <div style="position:absolute;left:75.00px;top:580.30px" class="cls_006"><span class="cls_006">they can take ownership of the process from start to finish.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">3</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:3494px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background05.jpg" width=595 height=841></div>
  <div style="position:absolute;left:149.66px;top:92.73px" class="cls_003"><span class="cls_003">Accountabilities</span></div>
  <div style="position:absolute;left:75.00px;top:164.64px" class="cls_008"><span class="cls_008">{{comname}} will provide:</span></div>
  <div style="position:absolute;left:90.91px;top:185.80px" class="cls_006"><span class="cls_006">• A team of expert project managers and consultants that matches your project profile</span></div>
  <div style="position:absolute;left:90.91px;top:207.92px" class="cls_006"><span class="cls_006">• Access to advice, software, tools, templates, and systems to implement the project plan</span></div>
  <div style="position:absolute;left:75.00px;top:255.01px" class="cls_008"><span class="cls_008">The responsibilities of your's include:</span></div>
  <div style="position:absolute;left:90.91px;top:276.17px" class="cls_006"><span class="cls_006">• Assigning a leader within the organization to work directly with the project manager.</span></div>
  <div style="position:absolute;left:90.91px;top:298.30px" class="cls_006"><span class="cls_006">• Providing access to senior management as needed.</span></div>
  <div style="position:absolute;left:90.91px;top:320.42px" class="cls_006"><span class="cls_006">• Providing access to documents, statements, plans, budgets, and computer systems as</span></div>
  <div style="position:absolute;left:105.00px;top:337.67px" class="cls_006"><span class="cls_006">needed.</span></div>
  <div style="position:absolute;left:90.91px;top:359.80px" class="cls_006"><span class="cls_006">• Working collaboratively in a series of weekly meetings to move the project forward.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">4</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:4345px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background06.jpg" width=595 height=841></div>
  <div style="position:absolute;left:212.80px;top:92.73px" class="cls_003"><span class="cls_003">About Us</span></div>
  <div style="position:absolute;left:75.00px;top:154.30px" class="cls_006"><span class="cls_006">Project management is a specialized discipline. It's planning, running, monitoring, and controlling a</span></div>
  <div style="position:absolute;left:75.00px;top:171.55px" class="cls_006"><span class="cls_006">project from start to finish. It's the processes, methods, knowledge, skills, and experience you</span></div>
  <div style="position:absolute;left:75.00px;top:188.80px" class="cls_006"><span class="cls_006">need to meet the objectives of a time-limited undertaking.</span></div>
  <div style="position:absolute;left:75.00px;top:221.80px" class="cls_006"><span class="cls_006">infosys specializes in partnering with companies to meet their project targets and goals. We get</span></div>
  <div style="position:absolute;left:75.00px;top:239.05px" class="cls_006"><span class="cls_006">you from point A to point B, as smoothly and painlessly as possible.</span></div>
  <div style="position:absolute;left:75.00px;top:272.05px" class="cls_006"><span class="cls_006">Our experts hail from many different backgrounds, including real estate development, sales and</span></div>
  <div style="position:absolute;left:75.00px;top:289.30px" class="cls_006"><span class="cls_006">marketing, software and IT, and design. We make it our business to study and incorporate the art</span></div>
  <div style="position:absolute;left:75.00px;top:306.55px" class="cls_006"><span class="cls_006">and science of professional project management into everything we do.</span></div>
  <div style="position:absolute;left:75.00px;top:353.64px" class="cls_008"><span class="cls_008">Certification</span></div>
  <div style="position:absolute;left:75.00px;top:374.80px" class="cls_006"><span class="cls_006">Our lead consultants are certified project management professionals (PMPs) accredited by the</span></div>
  <div style="position:absolute;left:75.00px;top:392.05px" class="cls_006"><span class="cls_006">Project Management Institute (PMI). They have completed a rigorous certification process and</span></div>
  <div style="position:absolute;left:75.00px;top:409.30px" class="cls_006"><span class="cls_006">adhere to the highest ethical standards of their profession.</span></div>
  <div style="position:absolute;left:113.01px;top:492.25px" class="cls_009"><span class="cls_009">"With infosys, my customers are happier, and so are my</span></div>
  <div style="position:absolute;left:100.65px;top:516.25px" class="cls_009"><span class="cls_009">employees. Everyone knows the plan and what they should</span></div>
  <div style="position:absolute;left:93.05px;top:540.25px" class="cls_009"><span class="cls_009">be doing. Everyone knows what's expected of them and when</span></div>
  <div style="position:absolute;left:269.48px;top:564.25px" class="cls_009"><span class="cls_009">it's due."</span></div>
  <div style="position:absolute;left:250.95px;top:604.00px" class="cls_009"><span class="cls_009">-</span><span class="cls_005"> CEO, Lanai Ltd.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">5</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:5196px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background07.jpg" width=595 height=841></div>
  <div style="position:absolute;left:154.74px;top:92.73px" class="cls_003"><span class="cls_003">Meet Our Team</span></div>
  <div style="position:absolute;left:235.44px;top:165.96px" class="cls_010"><span class="cls_010">Rose Nylund, Certified Project</span></div>
  <div style="position:absolute;left:235.44px;top:184.37px" class="cls_010"><span class="cls_010">Management Professional (PMP)</span></div>
  <div style="position:absolute;left:235.44px;top:204.62px" class="cls_006"><span class="cls_006">LOREM IPSUM lorem ipsum lorem ipsum lorem ipsum</span></div>
  <div style="position:absolute;left:235.44px;top:221.87px" class="cls_006"><span class="cls_006">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</span></div>
  <div style="position:absolute;left:235.44px;top:239.12px" class="cls_006"><span class="cls_006">ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</span></div>
  <div style="position:absolute;left:235.44px;top:296.83px" class="cls_010"><span class="cls_010">Sophia Petrillo, Project Management</span></div>
  <div style="position:absolute;left:235.44px;top:313.33px" class="cls_010"><span class="cls_010">Software Consultant</span></div>
  <div style="position:absolute;left:235.44px;top:335.80px" class="cls_006"><span class="cls_006">LOREM IPSUM lorem ipsum lorem ipsum lorem ipsum</span></div>
  <div style="position:absolute;left:235.44px;top:353.05px" class="cls_006"><span class="cls_006">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</span></div>
  <div style="position:absolute;left:235.44px;top:370.30px" class="cls_006"><span class="cls_006">ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span></div>
  <div style="position:absolute;left:235.44px;top:387.55px" class="cls_006"><span class="cls_006">lorem ipsum lorem ipsum.</span></div>
  <div style="position:absolute;left:235.44px;top:430.33px" class="cls_010"><span class="cls_010">Blanche Devereaux, Consultant</span></div>
  <div style="position:absolute;left:235.44px;top:452.80px" class="cls_006"><span class="cls_006">LOREM IPSUM lorem ipsum lorem ipsum lorem ipsum</span></div>
  <div style="position:absolute;left:235.44px;top:470.05px" class="cls_006"><span class="cls_006">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</span></div>
  <div style="position:absolute;left:235.44px;top:487.30px" class="cls_006"><span class="cls_006">ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span></div>
  <div style="position:absolute;left:235.44px;top:504.55px" class="cls_006"><span class="cls_006">lorem ipsum lorem ipsum lorem ipsum.</span></div>
  <div style="position:absolute;left:139.67px;top:636.39px" class="cls_004"><span class="cls_004">In the last year, we've completed major projects for:</span></div>
  <div style="position:absolute;left:255.73px;top:671.05px" class="cls_011"><span class="cls_011">Acme Tchotchkes</span></div>
  <div style="position:absolute;left:252.04px;top:688.30px" class="cls_011"><span class="cls_011">Tribble Enterprises</span></div>
  <div style="position:absolute;left:273.61px;top:705.55px" class="cls_011"><span class="cls_011">Lanai Ltd.</span></div>
  <div style="position:absolute;left:200.99px;top:722.80px" class="cls_011"><span class="cls_011">The Department of Internal Departments</span></div>
  <div style="position:absolute;left:224.56px;top:740.05px" class="cls_011"><span class="cls_011">St. Olaf Chamber of Commerce</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">6</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:6047px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background08.jpg" width=595 height=841></div>
  <div style="position:absolute;left:164.79px;top:92.73px" class="cls_003"><span class="cls_003">Cost Summary</span></div>
  <div style="position:absolute;left:75.00px;top:154.30px" class="cls_006"><span class="cls_006">Based on our preliminary discussion of your needs, the following budget had been prepared.</span></div>
  <div style="position:absolute;left:75.00px;top:171.55px" class="cls_006"><span class="cls_006">Additional expenses including travel, printing, and other incidentals will be billed separately.</span></div>
  <div style="position:absolute;left:81.00px;top:204.09px" class="cls_012"><span class="cls_012">Description</span></div>
  <div style="position:absolute;left:489.95px;top:204.09px" class="cls_012"><span class="cls_012">Price</span></div>
  <div style="position:absolute;left:89.25px;top:240.50px" class="cls_013"><span class="cls_013">Initiate project/develop project charter</span></div>
  <div style="position:absolute;left:466.17px;top:240.50px" class="cls_013"><span class="cls_013">$8,000</span></div>
  <div style="position:absolute;left:89.25px;top:285.50px" class="cls_013"><span class="cls_013">Develop work plan</span></div>
  <div style="position:absolute;left:461.75px;top:285.50px" class="cls_013"><span class="cls_013">$15,000</span></div>
  <div style="position:absolute;left:89.25px;top:330.50px" class="cls_013"><span class="cls_013">Execute and control project</span></div>
  <div style="position:absolute;left:458.34px;top:330.50px" class="cls_013"><span class="cls_013">$30,000</span></div>
  <div style="position:absolute;left:89.25px;top:375.50px" class="cls_013"><span class="cls_013">Total</span></div>
  <div style="position:absolute;left:459.55px;top:375.50px" class="cls_013"><span class="cls_013">$53,000</span></div>
  <div style="position:absolute;left:75.00px;top:435.55px" class="cls_006"><span class="cls_006">infosys bills 50% of the total cost up front. The remaining 50% is due within 30 days of project</span></div>
  <div style="position:absolute;left:75.00px;top:452.80px" class="cls_006"><span class="cls_006">completion. Expenses are billed monthly.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">7</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:6898px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background09.jpg" width=595 height=841></div>
  <div style="position:absolute;left:111.00px;top:92.73px" class="cls_003"><span class="cls_003">Statement of Work</span></div>
  <div style="position:absolute;left:177.82px;top:133.23px" class="cls_003"><span class="cls_003">and Contract</span></div>
  <div style="position:absolute;left:75.00px;top:212.05px" class="cls_014"><span class="cls_014">NOTE: WE ARE NOT LAWYERS. THIS IS A SAMPLE CONTRACT ONLY. BE SURE TO HAVE</span></div>
  <div style="position:absolute;left:75.00px;top:229.30px" class="cls_014"><span class="cls_014">YOUR OWN LEGAL COUNSEL REVIEW.</span></div>
  <div style="position:absolute;left:75.00px;top:262.30px" class="cls_006"><span class="cls_006">Project Management Agreement Owner hereby engages Manager to manage on behalf of Owner</span></div>
  <div style="position:absolute;left:75.00px;top:279.55px" class="cls_006"><span class="cls_006">in accordance with the following:</span></div>
  <div style="position:absolute;left:75.00px;top:312.55px" class="cls_006"><span class="cls_006">1. Manager shall provide Owner with the planning, budgeting, scheduling, expediting,</span></div>
  <div style="position:absolute;left:75.00px;top:329.80px" class="cls_006"><span class="cls_006">coordinating and supervising necessary for the timely execution of the Project by all workmen,</span></div>
  <div style="position:absolute;left:75.00px;top:347.05px" class="cls_006"><span class="cls_006">suppliers of material, contractors, subcontractors and others (collectively, ‘Contractors')</span></div>
  <div style="position:absolute;left:75.00px;top:364.30px" class="cls_006"><span class="cls_006">supplying materials for services to the Project.</span></div>
  <div style="position:absolute;left:75.00px;top:397.30px" class="cls_006"><span class="cls_006">2. Owner and Manager have discussed and agreed upon Project design and specifications, the</span></div>
  <div style="position:absolute;left:75.00px;top:414.55px" class="cls_006"><span class="cls_006">details of which are set forth in Schedule "A" attached.</span></div>
  <div style="position:absolute;left:75.00px;top:447.55px" class="cls_006"><span class="cls_006">3. Owner and Manager have discussed and agreed upon the Project cost estimate as set forth in</span></div>
  <div style="position:absolute;left:75.00px;top:464.80px" class="cls_006"><span class="cls_006">Schedule "B" attached. Manager has used the best effort to obtain and verify such estimate but</span></div>
  <div style="position:absolute;left:75.00px;top:482.05px" class="cls_006"><span class="cls_006">does not warrant that the actual Project costs shall be as stated in Schedule "B".</span></div>
  <div style="position:absolute;left:75.00px;top:515.05px" class="cls_006"><span class="cls_006">4. Manager shall take all reasonable steps on behalf of Owner to ensure the project shall be</span></div>
  <div style="position:absolute;left:75.00px;top:532.30px" class="cls_006"><span class="cls_006">completed in a good and workmanlike manner in accordance with the design specifications and</span></div>
  <div style="position:absolute;left:75.00px;top:549.55px" class="cls_006"><span class="cls_006">cost estimate, subject to any changes.</span></div>
  <div style="position:absolute;left:75.00px;top:582.55px" class="cls_006"><span class="cls_006">5. The detail of services to be provided by Manager for Owner are as set forth in Schedule "C"</span></div>
  <div style="position:absolute;left:75.00px;top:599.80px" class="cls_006"><span class="cls_006">attached.</span></div>
  <div style="position:absolute;left:75.00px;top:632.80px" class="cls_006"><span class="cls_006">6. In performing the duties under this Agreement, Manager shall be the limited agent of Owner for</span></div>
  <div style="position:absolute;left:75.00px;top:650.05px" class="cls_006"><span class="cls_006">the purpose of obtaining, reviewing and discussing with Owner all quotes and bids by Contractors.</span></div>
  <div style="position:absolute;left:75.00px;top:667.30px" class="cls_006"><span class="cls_006">Contracts, purchase orders and similar documents for the Project shall be in the name of Owner</span></div>
  <div style="position:absolute;left:75.00px;top:684.55px" class="cls_006"><span class="cls_006">and may be signed by Manager on behalf of Owner provided they are consistent with the</span></div>
  <div style="position:absolute;left:75.00px;top:701.80px" class="cls_006"><span class="cls_006">agreement.</span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">8</span></div>
  </div>
  <div style="position:absolute;left:50%;margin-left:-297px;top:7749px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/proposalAgency/background10.jpg" width=595 height=841></div>
  <div style="position:absolute;left:75.00px;top:98.80px" class="cls_006"><span class="cls_006">7. Nothing in this Agreement shall prevent or restrict Manager from acting as a Contractor for the</span></div>
  <div style="position:absolute;left:75.00px;top:116.05px" class="cls_006"><span class="cls_006">purpose of performing work or service to the Project, provided such shall be fully disclosed to</span></div>
  <div style="position:absolute;left:75.00px;top:133.30px" class="cls_006"><span class="cls_006">Owner.</span></div>
  <div style="position:absolute;left:75.00px;top:166.30px" class="cls_006"><span class="cls_006">8. Owner hereby indemnifies and holds harmless Manager from all debts, claims and liabilities</span></div>
  <div style="position:absolute;left:75.00px;top:183.55px" class="cls_006"><span class="cls_006">incurred by Manager in the performance of the functions under the Agreement, provided that</span></div>
  <div style="position:absolute;left:75.00px;top:200.80px" class="cls_006"><span class="cls_006">such functions are carried out by Manager within the scope of its authority.</span></div>
  <div style="position:absolute;left:75.00px;top:233.80px" class="cls_006"><span class="cls_006">9. Manager's fee shall be as outlined below:</span></div>
  <div style="position:absolute;left:75.00px;top:266.80px" class="cls_006"><span class="cls_006">10. In addition to such fee, Owner shall pay Goods and Services Tax of X%</span></div>
  
  <div style="position:absolute;left:75.00px;top:365.80px" class="cls_006"><span class="cls_006">{{comname}}: __________________________________</span></div>
  <div style="position:absolute;left:75.00px;top:398.80px" class="cls_006"><span class="cls_006">Date: </span></div>
  
  <div style="position:absolute;left:75.00px;top:464.80px" class="cls_006"><span class="cls_006">{{cname}}: __________________________________</span></div>
  <div style="position:absolute;left:75.00px;top:497.80px" class="cls_006"><span class="cls_006">Date: </span></div>
  <div style="position:absolute;left:293.86px;top:813.55px" class="cls_007"><span class="cls_007">9</span></div>
  </div>
  <div style="position:absolute;left:50%;top:8540px;width:595px;height:93px"></div>
</body>
</html>
