<html lang="en">
<head>
    <title>Jquery highlight search text in div</title>
</head>
<body >
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="70px" width="100px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown" style="margin-left:250px">
      <ul class="navbar-nav">
        <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Product </b></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"> Feature Tour</a>
            <a class="dropdown-item" href="#"> Integrations</a>
          </div>
        </li>
        <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Industries </b></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Construction</a>
            <a class="dropdown-item" href="#">Event & Hospitality</a>
            <a class="dropdown-item" href="#">Financial Services</a>
            <a class="dropdown-item" href="#">Professional Services</a>
            <a class="dropdown-item" href="#">Marketing</a>
            <a class="dropdown-item" href="#">SaaS</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><b>Pricing</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Template Gallery </a>
            <a class="dropdown-item" href="#">Case Studies</a>
            <a class="dropdown-item" href="#">Find a Partner</a>
            <a class="dropdown-item" href="#">Knowledge Base</a>
            <a class="dropdown-item" href="#">Books & Guides</a>
            <a class="dropdown-item" href="#">Webinars</a>
            <a class="dropdown-item" href="#">Podcast</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Book a Demo</a>
            <a class="dropdown-item" href="#">Email Support</a>
            <a class="dropdown-item" href="#">Chat</a>
            <div id="contact">Sales Phone Numbers</div>
            <a class="dropdown-item" href="#">US/CAN: +1-866-255-4036</a>
            <a class="dropdown-item" href="#">UK: +44-20-3514-5557</a>
            <a class="dropdown-item" href="#">AUS: +61-2-8520-1024</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id ="sign" routerLink="/signup"><b>SIGN UP FREE</b></a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <br><br><br><br>

</body>
</html>


<router-outlet></router-outlet>
