
 #sign:hover{
    color: #ffffff;
    background-color: #004053;
 }
 #sign{
    color: #ffffff;
    background-color: #83db77;
    border-radius: 5px;
    height: 37px;
 }
 nav.a:hover{
    color: #004053;
 }
 #contact{
   color: #ffffff;
   background-color: #80c676;
   margin-left:25px;
   margin-right:25px
}
.dropdown:hover>.dropdown-menu {
   display: block;
 }
 
 .dropdown>.dropdown-toggle:active {
   /*Without this, clicking will make it sticky*/
     pointer-events: none;
 }

 #home {
   background: #fff;
}

main, menu, nav, section, summary {
   display: block;
}

#btn{
   color: #ffffff;
    background-color: #83db77;
    border-radius: 5px;
    height: 50px;
}
#btn:hover{
   color: #ffffff;
   background-color: #004053;
}

