body{
  background-color: #EDEDED;
  font-family: "Lato", sans-serif
}
.padding{
  padding-top: 50px;
}
.container{
  width:600px;
}
.btn{
  background-color:white;
  width: 70px;
}
.card{
  background-color: #EDEDED;
  border:none;
}
.btn1{
  color: #ffffff;
  background-color: #80c676;
  width: 20%;
  height: 10%;
}

.StripeElement {
  margin: 1rem 0 1rem;
  padding: 8px 12px;
  border: 1px solid #ced4da;
  background-color: #fff;
  width: 100%;
  border-radius: .25rem;
  line-height: 1.5;
}
