body{
  background-color: #EDEDED;
  font-family: "Lato", sans-serif
}
.padding{
  padding-top: 50px;
}
.container{
  width:600px;
}
.btn{
  background-color:white;
  width: 70px;
}
.card{
  background-color: #EDEDED;
  border:none;
}
.paypal-button.paypal-button-color-gold {
  width: 141px;
  height: 48px;
  background: #ffc439;
  color: #111;
  font-size: 20px;
}
.paypal-button-logo .paypal-button-logo-pp .paypal-button-logo-gold{
  font-size: 12px;
}
.paypal-button-text{
  font-size: 12px;
}