<html>
  <head>
    <title>Sign up</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top navbar-light bg-light" >
            <div class="">
              <div style="padding-left:250px;"><img src="./assets/proposifylogo.png" height="80px" width="110px"></div>
          </div>
          </nav> 

<div class="container padding">
    <button routerLink="/proposal1" type="button" class="btn btn-sm text-muted btn" >&#9666; Back</button>
</div>
<div class="container">
    <div class="card" id="maindiv" style="width: 37rem;">
        <div class="card-body">
              <h1 style="color: #004053">Billing Information</h1><br>
              <h3><small class="text-muted ">You are billed <span style="color:#00b8d1"><b> INR6900.00 </b></span> Make the payment it's only <span style="color:#00b8d1"><b> One Time Fee. </b></span></small></h3> <br>
              <h3 style="color: #004053">Check your details </h3><br>

              <div class="form-group">
                    <small class="form-text text-muted" ><label>First name</label></small> 
                    <input type="text" class="form-control" required >
                   </div>

              <div class="form-group">
                    <small class="form-text text-muted" ><label> Your Mobile Number</label></small>
                    <input type="tel" class="form-control" required>
                  </div>

               <div class="form-group">
                    <small class="form-text text-muted" ><label>Your Email</label></small>
                    <input type="email" class="form-control" required>
                    </div>

                <div class="form-row">
                        <div class="col">
                            <small class="form-text text-muted" ><label>Date</label></small> 
                            <input type="TEXT" [ngModel]="today | date:'yyyy-MM-dd'" (ngModelChange)="today = $event" class="form-control" disabled="disabled">
                            </div>
                        <div class="col">
                            <small class="form-text text-muted" ><label> Amount</label></small>
                            <input type="number" [(ngModel)]="finalAmount" class="form-control" disabled="disabled">
                            </div>
                    </div>
                    <br> <br>
                <div class="form-group">
                    <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
                    <div id="paypal-checkout-btn" style="text-align:right;"></div>
                    </div>
        </div>
    </div>
    <br>
</div>

  </body>
</html>