<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
            <button routerLink="/proposalclientdetail" type="button" class="btn btn-arrow-right " id="sign"> <small>Use this</small></button>
      </div>
      </nav> 

<div class="sidebar main" id="table-wrapper">
    <div id="table-scroll" class="m1 menu" >
        <div id="menu-center">
      <table style="width:100%" >
          <tbody>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
             <tr class="tr1"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a  href="#p1"> <img class="active" src="./assets/proposal2/proposal2.0.png" height="40px" width="50px"/> </a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a2" style="padding:1%"><small style="color:#004053;">Overview</small></a></th> </tr> 
             <tr class="tr2"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p2"> <img src="./assets/proposal2/proposal2.1.png" height="40px" width="50px"/> </a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a3" style="padding:1%"><small style="color:#004053;">Project Summary</small></a></th> </tr> 
             <tr class="tr3"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p3"> <img src="./assets/proposal2/proposal2.2.png" height="40px" width="50px"/> </a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a4" style="padding:1%"><small style="color:#004053;">Project Activities</small></a></th> </tr> 
             <tr class="tr4"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p4"> <img src="./assets/proposal2/proposal2.3.png" height="40px" width="50px"/> </a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a5" style="padding:1%"><small style="color:#004053;">Timeline</small></a></th> </tr> 
             <tr class="tr5"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p5"> <img src="./assets/proposal2/proposal2.4.png" height="40px" width="50px"/> </a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a6" style="padding:1%"><small style="color:#004053;">About Us</small></a></th> </tr> 
             <tr class="tr6"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p6"> <img src="./assets/proposal2/proposal2.5.png" height="40px" width="50px"/></a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a7" style="padding:1%"><small style="color:#004053;">Meet Our Team</small></a></th> </tr> 
             <tr class="tr7"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p7"> <img src="./assets/proposal2/proposal2.6.png" height="40px" width="50px"/></a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a8" style="padding:1%"><small style="color:#004053;">Cost Summary</small></a></th> </tr> 
             <tr class="tr8"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p8"> <img src="./assets/proposal2/proposal2.7.png" height="40px" width="50px"/> </a> </td></tr>
             <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a9" style="padding:1%"><small style="color:#004053;">Statement of Work a...</small></a></th> </tr> 
             <tr class="tr9"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p9"> <img src="./assets/proposal2/proposal2.8.png" height="40px" width="50px"/> </a> <a href="#p10"> <img src="./assets/proposal2/proposal2.9.png" height="40px" width="50px"/> </a> </td></tr>
            </tbody>
      </table>
    </div>
</div>
    
    <div class="sidenav-r">
            <br><br>
            <div>
            <table style="width:100%">
                    <tbody>
                        <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a1" style="padding:1%"><small style="color:#004053;">Proposal Templates</small></a></th> </tr> 
                    </tbody>
            </table>
            </div>
            <br>
        <div>
                
                <div class="column RESUME">
                  <div class="content show-image">
                  <a routerLink="/previewresume5"><img src="./assets/proposal1/proposal1.0.png" alt="proposal2" style="width:70%;height:200px;border: solid 1px;margin-left: 25px">
                  <br>
                  <h3 style="color:#004053;text-align: center;margin-top: 5px">Accounting</h3></a>
                  <br>
                </div>
                </div>
                <div class="column RESUME">
                  <div class="content show-image">
                  <a routerLink="/previewresume7"><img src="./assets/proposal3/proposal3.0.png" alt="proposal3" style="width:70%;height:200px;border: solid 1px;margin-left: 25px">
                  <br>
                  <h3 style="color:#004053;text-align: center;margin-top: 5px">HTML5 Mobile App </h3></a>
                  <br>
                </div>
                </div> 
          </div>
     </div>
  </div>
  <br><br><br>
<div class="container" style="text-align:center">
    
    <img src="./assets/proposal2/proposal2.0.png" height="900px" width="700px" id="p1"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 600px;">Overview</h4>
    <img src="./assets/proposal2/proposal2.1.png" height="900px" width="700px" id="p2"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 530px;">Project Summary</h4>
    <img src="./assets/proposal2/proposal2.2.png" height="900px" width="700px" id="p3"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 530px;">Project Activities</h4>
    <img src="./assets/proposal2/proposal2.3.png" height="900px" width="700px" id="p4"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 610px;">Timeline</h4>
    <img src="./assets/proposal2/proposal2.4.png" height="900px" width="700px" id="p5"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 610px;">About Us</h4>
    <img src="./assets/proposal2/proposal2.5.png" height="900px" width="700px" id="p6"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 530px;">Meet Our Team</h4>
    <img src="./assets/proposal2/proposal2.6.png" height="900px" width="700px" id="p7"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 530px;">Cost Summary</h4>
    <img src="./assets/proposal2/proposal2.7.png" height="900px" width="700px" id="p8"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 380px;">Statement of Work and Contract</h4>
    <img src="./assets/proposal2/proposal2.8.png" height="900px" width="700px" id="p9"/>
    <br><br>
    <h4 style="color:#004053;margin-right: 590px;"></h4>
    <img src="./assets/proposal2/proposal2.9.png" height="900px" width="700px" id="p10"/>

</div>
<br>


</body>
</html> 
