body{
    background-color: #EDEDED;
    font-family: "Lato", sans-serif
  }
  .padding{
    padding-top: 30px;
  }
  .container{
    width:600px;
  }
  .btn{
    background-color:white;
    width: 70px;
  }
  .card{
    background-color: #EDEDED;
    border:none;
  }
  .btn1{
    color: #ffffff;
    background-color: #80c676;
    width: 20%;
    height: 10%;
  }
  .fa-file-pdf-o:before {
    margin-right: 10px;
}
.alert-success {
  background-color: #c1efbb;
  border-color: #54ab49;
  color: #54ab49;
  text-align: center;
  font-family: 'proxima-nova',sans-serif;
  padding: 15px;
}