<html lang="en">
<head>
    <title>Jquery highlight search text in div</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
  <main role="main" id="home">  
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container">
    <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="70px" width="100px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown" style="margin-left:250px">
      <ul class="navbar-nav">
        <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b style="color:#004053">Product </b></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" style="color:#004053"> Feature Tour</a>
            <a class="dropdown-item" href="#" style="color:#004053"> Integrations</a>
          </div>
        </li>
        <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b style="color:#004053">Industries </b></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" style="color:#004053">Construction</a>
            <a class="dropdown-item" href="#" style="color:#004053">Event & Hospitality</a>
            <a class="dropdown-item" href="#" style="color:#004053">Financial Services</a>
            <a class="dropdown-item" href="#" style="color:#004053">Professional Services</a>
            <a class="dropdown-item" href="#" style="color:#004053">Marketing</a>
            <a class="dropdown-item" href="#" style="color:#004053">SaaS</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><b style="color:#004053">Pricing</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#004053" >Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#004053">
            Resources</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" style="color:#004053">Template Gallery </a>
            <a class="dropdown-item" href="#" style="color:#004053">Case Studies</a>
            <a class="dropdown-item" href="#" style="color:#004053">Find a Partner</a>
            <a class="dropdown-item" href="#" style="color:#004053">Knowledge Base</a>
            <a class="dropdown-item" href="#" style="color:#004053">Books & Guides</a>
            <a class="dropdown-item" href="#" style="color:#004053">Webinars</a>
            <a class="dropdown-item" href="#" style="color:#004053">Podcast</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#004053">
            Contact Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" style="color:#004053">Book a Demo</a>
            <a class="dropdown-item" href="#" style="color:#004053">Email Support</a>
            <a class="dropdown-item" href="#" style="color:#004053">Chat</a>
            <div id="contact">Sales Phone Numbers</div>
            <a class="dropdown-item" href="#" style="color:#004053">US/CAN: +1-866-255-4036</a>
            <a class="dropdown-item" href="#" style="color:#004053">UK: +44-20-3514-5557</a>
            <a class="dropdown-item" href="#" style="color:#004053">AUS: +61-2-8520-1024</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" *ngIf="!logn.logged" routerLink="/login" style="color:#004053"> Login </a>
          <a class="nav-link dropdown" id ="sign" *ngIf="logn.logged">{{name}}
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngIf="logn.logged" routerLink="/home" (click) = "logout()" style="color:#004053">Logout</a>
            <a class="dropdown-item"  routerLink="/dashboard" style="color:#004053">Dashboard</a>
            </div>
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" *ngIf="!logn.logged" id ="sign" routerLink="/signup"><b>SIGN UP FREE</b></a>
          <a class="nav-link" *ngIf="logn.logged" routerLink="/login" (click) = "logout()" style="color:#004053"> </a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <br><br><br><br>

<span class="border-0"></span>
  <div class="row" style="text-align:justify">
    <div class="card-group container">
        <div class="card col-md-5 border-0">
          <div class="card-body" >
            <br><br>
            <h1 class="card-text "> <b> <font size="7" color="#004053"> Transform your <br> sales team into a <br> closing machine.</font></b></h1>
            <br>
            <p class="p-lg" style="line-height: 200%"> <font size="4" color="#004053"> Get the business proposal software <br> that streamlines the creation of quotes, <br> contracts, and other sales documents.</font></p> 
            <br>
            <button type="submit" class="btn " id="btn"> <b>CONTACT SALES</b></button> &nbsp; &nbsp;<a href="" style="color: #00b8d1;"> <b>TAKE THE TOUR</b></a>
          </div>  
        </div>  
         <div class="card col-md-7 border-0">
          <div class="card-block">
              <img class="card-img-top" src="./assets/frontimg.png" alt="Card image cap" width="100%"> 
          </div>
        </div>
      </div>
    </div>
<br><br><br><br>
<div class="container" style=" text-align:center">
    <h1 class="card-text "> <b> <font size="7" color="#004053"> The rocket fuel your sales team <br> needs to close more deals</font></b></h1>
      <br>
    <p class="p-lg" style="line-height: 200%"> <font size="5" color="#004053"> As a sales leader you know firsthand that proposals can be a tedious, painful, chore.</font></p>
      <br>
    <p class="p-lg" style="line-height: 200% ; color: #00b8d1"> <font size="5" > Proposify changes all that.</font></p>
      <br>
    <p class="p-lg" style="line-height: 200% "> <font size="5" color="#004053"> We’re revolutionizing the entire process, from creation to <br> close and every deal-making moment in between. Watch <br> your sales take off with the business proposal software that <br> gives your team the competitive edge. The sky’s the limit.</font></p>
</div>
<br><br><br><br>

<div class="container ">  
  <div class="card-deck">
    <div class="card border-0">
      <img src="./assets/card1.png" class="rounded mx-auto " style="margin-left:0pc" >
      <div class="card-body">
        <h3 class="card-title"><font size="4" color="#004053"> <b> GET MORE DONE. <br> CLOSE MORE DEALS.</b> </font></h3>
        <p class="card-text" style="color:#004053">Less is more when it comes to admin time. <br> Proposify improves sales productivity by <br> automating the proposal process so your <br> team spends less time creating proposals and more time selling.</p>
      </div>
    </div>
    <div class="card border-0">
      <img src="./assets/card2.png" class="rounded mx-auto " id="center">   
         <div class="card-body">
          <h3 class="card-title"><font size="4" color="#004053"> <b> ORGANIZE YOUR TEAM</b> </font></h3>
          <p class="card-text" style="color:#004053">Bring control and consistency to your proposal process. Proposify keeps everything organized and in one place so your team can easily access whatever they need to create and send a proposal quickly. Meanwhile, you manage their activity with roles and permissions, commenting, and tracking through version history.</p>
      </div>
    </div>
    <div class="card border-0">
      <img src="./assets/card3.png" class="rounded mx-auto " id="center" >
            <div class="card-body">
              <h3 class="card-title"><font size="4" color="#004053"> <b> TRACK PROPOSALS</b> </font></h3>
              <p class="card-text" style="color:#004053">Waiting to hear back after you send a proposal can be agony. We notify each of your sales reps as soon as their lead opens their email, reads the proposal, comments on anything, and (most importantly!) accepts the deal. Now you can stay on top of sales and your team’s success, no questions asked.</p>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>

<div class="row" style="text-align:justify">
  <div class="card-group container">
      <div class="card col-md-5 border-0">
        <div class="card-body" >
          <br><br><br><br><br>
          <h4 class="card-text "> <b> <font size="5" color="#004053"> Proposals so remarkable, they leave clients speechless (well, almost)
          </font></b></h4>
          <br>
          <p class="p-lg text-muted" style="line-height: 200%"> <font size="4" color="#004053"> They do manage to say one thing: “YES!”. From interactive fee tables that let clients choose what they need, to being able to comment on the details of the offer and chat with you live right from the proposal to get the deal done, your Proposify proposal not only impresses clients, it inspires their confidence in choosing your business over the competition.</font></p> 
          <br>
          <button type="submit" class="btn " id="btn1"> <b>LEARN MORE</b></button>
        </div>  
      </div>  
       <div class="card col-md-7 border-0">
        <div class="card-block">
            <img class="card-img-top" src="./assets/img1.png" alt="Card image cap" width="100%"> 
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br><br>

<div class="container ">  
  <div class="card-deck">
    <div class="card border-0">
      <span class="container ">
          <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
          <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
          <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
          <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
          <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
      </span>  
      <div class="card-body">
        <h3 class="card-title"><font size="5" color="#004053"> <b> <span style="color:#00b8d1"> “Quality product</span>  run by quality people.”</b> </font></h3>
        <br>
        <p class="card-text" style="color:#004053">In addition to its easy-to-use client interface, I have had zero issues training team members to use the software. The number of "wow, that's cool" and "it's really that easy?" comments are a testament to the thoughtfulness that Proposify put into creating this platform.</p>
        <br>
        <img src="./assets/img-logo-capterra.png">  
        <br><br>
        <small style="color:#004053"> <b>Zachary Knott, Proposal Writer</b> <br>
          Marketing and Advertising, 51-200 employees
        </small>   
      </div>
    </div>
    <div class="card border-0">
        <span class="container ">
            <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
            <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
            <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
            <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
            <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
        </span>  
        <div class="card-body">
          <h3 class="card-title"><font size="5" color="#004053"> <b> “Proposify  <span style="color:#00b8d1">makes me look good!”</span> </b> </font></h3>
          <br>
          <p class="card-text" style="color:#004053">Professional and modern proposals with re-usable components. I love the online tracking so that I can see when they open it, how long they spend on it, and most importantly, when they click to accept.</p>
          <br>
          <img src="./assets/img-logo-g2crowd-140px.png">  
          <br><br>
          <small style="color:#004053"> <b>Jean C</b> <br>
            Validated Reviewer
          </small>   
        </div>
      </div>
      <div class="card border-0">
          <span class="container ">
              <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
              <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
              <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
              <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
              <span style="font-size:200%; color:#fcdc79;">&#9733;</span>
          </span>  
          <div class="card-body">
            <h3 class="card-title"><font size="5" color="#004053"> <b> “Proposify <span style="color:#00b8d1">is the best.”</span></b> </font></h3>
            <br>
            <p class="card-text" style="color:#004053">Our proposals blow our competitors out of the water and our clients love how they look and how advanced we are. Every proposal we have turned out with Proposify has looked amazing and our conversion rate has increased 20%.</p>
            <br>
            <img src="./assets/img-logo-getapp-140px.png" >  
            <br><br>
            <small style="color:#004053"> <b>Krisjan Hiner</b> <br>
              Architecture and Planning
            </small>   
          </div>
        </div>
  </div>
</div>
  <br><br><br><br><br><br><br>
  <div class="row" style="text-align:justify">
      <div class="card-group container">
          <div class="card col-md-6 border-0">
              <div class="card-block">
                  <img class="card-img-top" src="./assets/img2.png" alt="Card image cap" width="150%" height="500px"> 
              </div>
            </div>
          <div class="card col-md-6 border-0">
            <div class="card-body" >
              <br><br>
              <h4 class="card-text "> <b> <font size="5" color="#004053"> You’ve got targets; we help you make a direct hit
              </font></b></h4>
              <br>
              <p class="p-lg text-muted" style="line-height: 200%"> <font size="4" color="#004053"> Ask a sales manager what they want: “Close more deals”. <br><br>

                  Ask a sales rep what they want: “Close more deals”. <br><br>
                  
                  <span style="color:#00b8d1"> Ask Proposify what we do: “Close more deals”. </span><br><br>
                  
                  Every feature and every function of our business proposal software is designed with your sales team—and your goals—in mind. You’re in it to win it, and we’re with you every step of the way.</font></p> 
              <br>
              <button type="submit" class="btn " id="btn1"> <b>LEARN MORE</b></button>
            </div>  
          </div> 
        </div>
      </div>
<br><br><br><br><br><br>
<div class="container ">  
    <div class="card-deck">
      <div class="card border-0">
        <img src="./assets/card4.png" class="rounded mx-auto " >
        <div class="card-body">
          <h3 class="card-title"><font size="4" color="#004053"> <b> GET 60% FASTER SIGN-OFF WITH ONLINE SIGNATURES</b> </font></h3>
          <p class="card-text" style="color:#004053">Our easy-to-use online signature tool lets clients sign proposals right away, right in the browser from any device. Add multiple signature lines or initial boxes and track pending signatures. For added security each signature is legally binding to protect everyone’s best interests.</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="./assets/card5.png" class="rounded mx-auto " id="center">   
           <div class="card-body">
            <h3 class="card-title"><font size="4" color="#004053"> <b> METRICS THAT MAKE THE DEAL</b> </font></h3>
            <p class="card-text" style="color:#004053">Our snapshot delivers juicy details about how clients are interacting with your sales team’s proposals. We tell you which sections they looked at and for how long, plus the amount of time they spent viewing the proposal overall. This valuable insight into what makes a successful proposal can help your entire team improve their proposal game.</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="./assets/card6.png" class="rounded mx-auto " id="center" >
              <div class="card-body">
                <h3 class="card-title"><font size="4" color="#004053"> <b>KEEP DEALS FROM GOING COLD</b> </font></h3>
                <p class="card-text" style="color:#004053">You need to keep your proposal at the top of your client’s mind. Schedule a friendly, automated reminder email to go out if they haven’t viewed your proposal after a certain amount of time.</p>
            </div>
        </div>
    </div>
  </div>
<br><br><br><br><br><br>
<div style="background-color:#e5f9fc">
  <br><br>
<div class="container" style=" text-align:center">
<br><br><br><br>
<h1 style="color:#004053"><font size="7"><b>Connect Proposify with all <br> your favourite apps</b></font></h1>
<br>
<p class="p-lg text-muted" style="line-height: 200%"> <font size="4" color="#004053"> When it comes to winning the battle for better business, you need a few good co-conspirators.  <br>Proposify integrates with some of the top business apps so you can improve your <br>efficiency by syncing your CRM, invoicing, and project management  tools. <br>Import contacts, link deals, create projects, and generate invoices.</font></p> 
</div>
<br><br><br><br><br>
</div>
<div style="background-color:#00232e">
  <div class="container">
    <div class="row">

        <div class="col-md-5"><br><br><img src="./assets/img3.png" style="float:right">
        </div>
        <div class="col-md-7"><br><br><small><h6 style="color:white"><b>THE PROPOSIFY PUBLIC API</b></h6></small><br>
          <h6 style="line-height: 150%; color: white" > Want to integrate your app with Proposify? Use our public <br> beta API to make you and Proposify the next power couple.</h6> 
          <br>
          <button type="submit" class="btn " id="btn2"> <b>VIEW DOCUMENTATION</b></button>
        </div>
      </div>
      <br><br>
    </div>  
  </div>  
  <br><br><br><br><br><br>
  <div class="row" style="text-align:justify">
      <div class="card-group container">
          <div class="card  border-0">
            <div class="card-body" >
              <br><br>
              <h1 class="card-text "> <b> <font color="#004053"> “Thanks to <br> Proposify, we’ll <br> never use Microsoft <br> Word to create <br> proposals again.”</font></b></h1>
              <br>
              <p class="p-lg" style="line-height: 200%"> <font size="5" color="#004053">Learn how Proposify became an integral <br> part of Inverse-Square’s sales process.
                </font></p> 
              <br>
              <button type="submit" class="btn " id="btn"> <b>READ THEIR STORY</b></button>
              <br><br><br><br><br>
              <div class="row">
                <div class="col">
              <img  src="./assets/Inverse-Square-logo_horizontal-250px.png" alt="Card image cap" width="100%"> 
                </div>
                <div class="col">
                    <p class="p-lg" style="line-height: 150%"> <font size="3" color="#004053"> <b> Ashley Flowers, Director of <br> Sales  at Inverse-Square </b></font></p> 
                </div>
              </div>
            </div>  
          </div>  
           <div class="card  border-0">
            <div class="card-block">
                <img class="card-img-top" src="./assets/img4.png" alt="Card image cap" width="100%"> 
            </div>
          </div>
        </div>
      </div>  
      <br><br><br><br><br><br><br>    
      <div class="container" style="color:#004053; text-align:center"> <h1> <b> Over <span style="color:#83db77">$50,397,412</span> won by <br> more than 7,000 businesses <br> worldwide in the last 30 days. </b> </h1> </div>
      <br><br><br><br><br><br>
      <div>
        <div class="container-fluid">
      <div><img class="card-img-top" src="./assets/img-home-proof.png" alt="Card image cap" width="100%"> </div>
    </div>
      <br><br><br><br><br><br><br><br><br>
      <div class="row" style="text-align:justify">
        <div class="card-group container">
            <div class="card col-md-6 border-0">
                <div class="card-block">
                    <img class="card-img-top" src="./assets/img5.png" alt="Card image cap" width="150%" height="500px" id="img5"> 
                </div>
              </div>
            <div class="card col-md-6 border-0">
              <div class="card-body" >
                <br><br>
                <h1 class="card-text "> <b> <font size="9" color="#004053">Your Mission? Close the Deal. Your Secret Weapon? Proposify.
                </font></b></h1>
                <br>
                <p class="p-lg text-muted" style="line-height: 200%"> <font size="5" color="#004053"> Try Proposify free for 14 days. No credit card required. Plans start at $19/month.</font></p> 
                <br>
                <button type="submit" class="btn" id="btn3" routerLink="/signup"> <b>SIGN UP FOR FREE</b></button>
              </div>  
            </div> 
          </div>
        </div>
       <img src="./assets/bg-homeCTA-02-dark.png" alt="" class="bottomDiv" width="100%">
      </div>
      <div style="background-color:#004053" class="bottom">
        <div  class="container">
          <br><br>
          <table class="table">
            <thead style="color:#00b8d1">
              <tr>
                <td scope="col"> <b> PROPOSIFY </b></td>
                <td scope="col"><b>SOLUTIONS </b></td>
                <td scope="col"><b>INDUSTRIES </b></td>
                <td scope="col"><b>RESOURCES </b></td>
                <td scope="col"><b>COMPANY </b></td>
                <td scope="col"><b>HELP </b></td>
              </tr>
            </thead>
            <tbody class="tbl">
              <tr>
                <td><a href="" style="color:azure"> Future Tour</a></td>
                <td><a href="" style="color:azure"> Proposals</a></td>
                <td><a href="" style="color:azure"> Construction</a></td>
                <td><a href="" style="color:azure"> Podcast</a></td>
                <td><a href="" style="color:azure"> About Us</a></td>
                <td><a href="" style="color:azure"> Knowledge Base</a></td>
              </tr>
              <tr>
                <td><a href="" style="color:azure">Proposal Templates</a></td>
                <td><a href="" style="color:azure">Quotes</a></td>
                <td><a href="" style="color:azure">Event & Hospitality</a></td>
                <td><a href="" style="color:azure">Blog</a></td>
                <td><a href="" style="color:azure">Customers</a></td>
                <td><a href="" style="color:azure">Status</a></td>
              </tr>
              <tr>
                <td><a href="" style="color:azure">Plans & Pricing</a></td>
                <td><a href="" style="color:azure">Contracts</a></td>
                <td><a href="" style="color:azure">Financial Services</a></td>
                <td><a href="" style="color:azure">Books & Guides</a></td>
                <td><a href="" style="color:azure">Careers</a></td>
                <td><a href="" style="color:azure">Terms & Conditions</a></td>
              </tr>
              <tr>
                <td><a href="" style="color:azure">Integrations</a></td>
                <td><a href="" style="color:azure">E-signatures  & Payments</a></td>
                <td><a href="" style="color:azure">Marketing</a></td>
                <td><a href="" style="color:azure">Webinars</a></td>
                <td><a href="" style="color:azure">Press</a></td>
                <td><a href="" style="color:azure">Privacy Policy</a></td>
              </tr>
              <tr>
                <td><a href="" style="color:azure">API</a></td>
                <td> </td>
                <td><a href="" style="color:azure">SaaS</a></td>
                <td> </td>
                <td><a href="" style="color:azure">Partners</a></td>
                <td><a href="" style="color:azure">Contact Support</a></td>
              </tr>
            </tbody>
          </table>
        <br><br><br><br><br>
        </div>
      </div>
        <div class="bottom">
        <footer class="footer" style="background-color: #00232e;">
          <br><br>
          <div class="container">
          <div class="row ">
              <div class="col-sm-8">
                  <small style="color:azure">©2012-2019. Proposify / Pitch Perfect Software Inc. <br>
                      All Rights Reserved. </small> <br><br>
                      <span class="dot"><a href=""><i class="fa fa-facebook" id="icon"></i></a></span>&nbsp;
                      <span class="dot"><a href=""><i class="fa fa-twitter" id="icon"></i></a> </span>&nbsp;
                      <span class="dot"><a href=""><i class="fa fa-instagram" id="icon"></i></a> </span>&nbsp;
                      <span class="dot"><a href=""><i class="fa fa-youtube" id="icon"></i></a> </span>
              </div>
              <div class="col-sm-4">
                  <img src="./assets/foot1.png" alt="Card image cap"  height="60px"> 
                  <img src="./assets/foot2.png" alt="Card image cap"  height="60px" style="margin-left:80px"> 
                </div>  
            </div>
          </div> 
            <br><br>
          </footer>
        </div>
    </main>
</body>
<script>  
$('.popover-dismiss').popover({ 
  trigger: 'focus'
})
</script>
</html>
