<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top navbar-light bg-light" >
        <div class="container">
          <div>  <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="80px" width="110px"></a>
          </div>
          <div class="btn-group">
              <button type="button" id ="sign1" class="btn  dropdown-toggle" data-toggle="dropdown" *ngIf="logn.logged">
                  {{name}}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/profile"> <small class="text-muted">Profile</small></a>
                <a class="dropdown-item" *ngIf="logn.logged" routerLink="/home" (click) = "logout()"> <small class="text-muted">Logout</small></a>
            </div>
          </div>
      </div>
      </nav>  
  
      
      <nav class="main-menu">
        <ul>
            <li>
                <a routerLink="/dashboard">
                    <i class="fa fa-product-hunt fa-3x"></i>
                    <span class="nav-text">
                        Pipeline
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a>
                    <i class="fa fa-archive fa-2x"></i>
                    <span class="nav-text">
                        Content Library
                    </span>
                </a>
                
            </li>
            <li  class="has-subnav">
                <a routerLink="/template">
                   <i class="fa fa-file-text-o fa-2x"></i>
                    <span class="nav-text">
                        Templates
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a>
                   <i class="fa fa-bullseye fa-2x"></i>
                    <span class="nav-text">
                        Metrics
                    </span>
                </a>
               
            </li>
            <li>
                <a>
                    <i class="fa fa-users fa-2x"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
            <li>
                <a >
                    <i class="fa fa-address-book-o fa-2x"></i>
                    <span class="nav-text">
                       Clients
                    </span>
                </a>
            </li>
            <li>
               <a>
                   <i class="fa fa-plug fa-2x"></i>
                    <span class="nav-text">
                        Integrations
                    </span>
                </a>
            </li>
            <li>
               <a>
                    <i class="fa fa-cog fa-2x"></i>
                    <span class="nav-text">
                        Setting
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
<br><br>
<div class="container">
    <button routerLink="/resumeuserdetail" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px;height: 30px;margin-left:320px;" >&#9666; Back</button>
</div>
<hr>
<div class="container">
    <div class="card" id="maindiv" style="width: 37rem;">
        <div class="card-body">
            <form [formGroup]="angForm" novalidate>
                <h3 style="color: #004053">Enter the Resume Details</h3> <br>
                <div class="alert alert-success" role="alert" style="font-family: 'proxima-nova',sans-serif;font-size: 16px"><i class="fa fa-check-circle" style="display:inline;"> </i> You have selected the "Resume" template</div>
                <h6 style="color: #004053"> <b>Educational Details</b></h6>

                <input type="text" class="form-control"  #Email value="{{email}}">
                
                    <div class="form-row">
                            <div class="col-md-8 ">
                                    <small class="form-text text-muted" ><label>10<sup>th</sup> School Name</label></small> 
                            <input type="text" class="form-control" formControlName="tenth_school" required #tenth_school >
                            <br>
                        <small><div *ngIf="angForm.controls['tenth_school'].invalid && (angForm.controls['tenth_school'].dirty)" class=" alert-danger">
                                <div *ngIf="angForm.controls['tenth_school'].errors.required">
                                    10<sup>th</sup> School Name is required.
                                </div>
                                </div></small>
                            </div>
                            <div class="col-md-2 ">
                                    <small class="form-text text-muted" ><label>10<sup>th</sup> %</label></small> 
                            <input type="text" class="form-control" formControlName="tenth_per" required #tenth_per >
                            <br>
                        <small><div *ngIf="angForm.controls['tenth_per'].invalid && (angForm.controls['tenth_per'].dirty)" class=" alert-danger">
                                <div *ngIf="angForm.controls['tenth_per'].errors.required">
                                    10<sup>th</sup> Percentage is required.
                                </div>
                                </div></small>
                            </div>
                            <div class="col-md-2 ">
                            <small class="form-text text-muted" ><label>Passing Year</label></small> 
                            <input type="text" class="form-control" formControlName="tenth_Passingyear" required #tenth_Passingyear >
                            <br>
                        <small><div *ngIf="angForm.controls['tenth_Passingyear'].invalid && (angForm.controls['tenth_Passingyear'].dirty)" class=" alert-danger">
                                <div *ngIf="angForm.controls['tenth_Passingyear'].errors.required">
                                    10<sup>th</sup> Passing Year is required.
                                </div>
                                </div></small>
                            </div>
                        </div> 
                    
                        <div class="form-row">
                                <div class="col-md-8">
                                        <small class="form-text text-muted" ><label>12<sup>th</sup> School Name</label></small> 
                                <input type="text" class="form-control" formControlName="twelth_school" required #twelth_school  >
                                <br>
                            <small><div *ngIf="angForm.controls['twelth_school'].invalid && (angForm.controls['twelth_school'].dirty)" class=" alert-danger">
                                    <div *ngIf="angForm.controls['twelth_school'].errors.required">
                                        12<sup>th</sup> School Name is required.
                                    </div>
                                    </div></small>
                                </div>
                                <div class="col-md-2">
                                        <small class="form-text text-muted" ><label>12<sup>th</sup> %</label></small> 
                                <input type="text" class="form-control" formControlName="twelth_per" required #twelth_per >
                                <br>
                            <small><div *ngIf="angForm.controls['twelth_per'].invalid && (angForm.controls['twelth_per'].dirty)" class=" alert-danger">
                                    <div *ngIf="angForm.controls['twelth_per'].errors.required">
                                        12<sup>th</sup> Percentage is required.
                                    </div>
                                    </div></small>
                                </div>
                                <div class="col-md-2">
                                <small class="form-text text-muted" ><label> Passing Year</label></small> 
                                <input type="text" class="form-control" formControlName="twelth_Passingyear" required #twelth_Passingyear >
                                <br>
                            <small><div *ngIf="angForm.controls['twelth_Passingyear'].invalid && (angForm.controls['twelth_Passingyear'].dirty)" class=" alert-danger">
                                    <div *ngIf="angForm.controls['twelth_Passingyear'].errors.required">
                                        12<sup>th</sup> Passing Year is required.
                                    </div>
                                    </div></small>
                                </div>
                            </div> 
                        
                        <div class="form-group">
                                <small class="form-text text-muted" ><label>Graduation Collage Name</label></small>
                                <input type="text" class="form-control" formControlName="Graduation_Collage" required #Graduation_Collage >
                            </div>
                            <small><div *ngIf="angForm.controls['Graduation_Collage'].invalid && (angForm.controls['Graduation_Collage'].dirty )" class=" alert-danger">
                                <div *ngIf="angForm.controls['Graduation_Collage'].errors.required">
                                    Graduation Collage Name is required.
                                </div>
                            </div></small>
                    
                            <div class="form-row">
                                <div class="col-md-6">
                                        <small class="form-text text-muted" ><label>Graduation Stream</label></small> 
                                <input type="text" class="form-control" formControlName="Graduation_Stream" required #Graduation_Stream >
                                <br>
                            <small><div *ngIf="angForm.controls['Graduation_Stream'].invalid && (angForm.controls['Graduation_Stream'].dirty)" class=" alert-danger">
                                    <div *ngIf="angForm.controls['Graduation_Stream'].errors.required">
                                        Graduation Stream is required.
                                    </div>
                                    </div></small>
                                </div>
                                <div class="col-md-3 ">
                                        <small class="form-text text-muted" ><label>Graduation %</label></small> 
                                <input type="text" class="form-control" formControlName="Graduation_per" required #Graduation_per >
                                <br>
                            <small><div *ngIf="angForm.controls['Graduation_per'].invalid && (angForm.controls['Graduation_per'].dirty)" class=" alert-danger">
                                    <div *ngIf="angForm.controls['Graduation_per'].errors.required">
                                        Graduation percentage is required.
                                    </div>
                                    </div></small>
                                </div>
                                <div class="col-md-3 ">
                                <small class="form-text text-muted" ><label>Passing year</label></small> 
                                <input type="text" class="form-control" formControlName="Graduation_Passingyear" required #Graduation_Passingyear >
                                <br>
                            <small><div *ngIf="angForm.controls['Graduation_Passingyear'].invalid && (angForm.controls['Graduation_Passingyear'].dirty)" class=" alert-danger">
                                    <div *ngIf="angForm.controls['Graduation_Passingyear'].errors.required">
                                        Graduation Passing year is required.
                                    </div>
                                    </div></small>
                                </div>
                            </div>

                            <div class="form-group">
                                    <small class="form-text text-muted" ><label>Post Collage Name</label></small>
                                    <input type="text" class="form-control" formControlName="PG_collage" value=" " #PG_collage>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 ">
                                            <small class="form-text text-muted" ><label> PG Stream</label></small> 
                                    <input type="text" class="form-control" formControlName="PG_Stream" value=" " #PG_Stream>
                                    <br>
                                    </div>
                                    <div class="col-md-3 ">
                                            <small class="form-text text-muted" ><label>PG %</label></small> 
                                    <input type="text" class="form-control" formControlName="PG_per" value=" "  #PG_per>
                                    <br>
                                    </div>
                                    <div class="col-md-3 ">
                                    <small class="form-text text-muted" ><label>Passing year</label></small> 
                                    <input type="text" class="form-control" formControlName="PG_Passingyear" value=" " #PG_Passingyear>
                                    </div>
                                </div>
                            <br>
                <div class="form-group">
                        <button type="button" class="btn btn-arrow-right " id="sign" (click)="onClick(Email.value,tenth_school.value,tenth_per.value,tenth_Passingyear.value,twelth_school .value,twelth_per.value,twelth_Passingyear.value,Graduation_Collage.value,Graduation_Stream.value,Graduation_per.value,Graduation_Passingyear.value,PG_collage.value,PG_Stream.value,PG_per.value,PG_Passingyear.value)" style="margin-left: 200px"> Next Step</button>                               
                </div> <br>
             
            </form>
          </div>
        </div>
      </div>
</body>
<script type="text/javascript">

    </script>

</html> 

