<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
  <div class="container">
  <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="70px" width="100px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</nav>
<br><br><br><br>
<img src="./assets/welcome.png" height="10%" width="70%"  >
<br><br><br>
  <div style="text-align:center" >
      <h4 >Thank you for signing up, <b>{{name}}</b>  !</h4>
      <small class="form-text text-muted">Take a super quick tour of the basic steps to creating your very first proposal. <br>
      After Login 
      </small>
  <br>
  <button type="submit" class="btn" id="sign" (click)="onClick()">Login</button>  
  </div>
  <br><br><br><br><br><br>
  
  