<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top navbar-light bg-light" >
        <div class="container">
          <div>  <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="80px" width="110px"></a>
          </div>
          <div class="btn-group">
              <button type="button" id ="sign1" class="btn  dropdown-toggle" data-toggle="dropdown" *ngIf="logn.logged">
                  {{name}}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/profile"> <small class="text-muted">Profile</small></a>
                <a class="dropdown-item" *ngIf="logn.logged" routerLink="/home" (click) = "logout()"> <small class="text-muted">Logout</small></a>
            </div>
          </div>
      </div>
      </nav>  
  
      
      <nav class="main-menu">
        <ul>
            <li>
                <a routerLink="/dashboard">
                    <i class="fa fa-product-hunt fa-3x"></i>
                    <span class="nav-text">
                        Pipeline
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a>
                    <i class="fa fa-archive fa-2x"></i>
                    <span class="nav-text">
                        Content Library
                    </span>
                </a>
                
            </li>
            <li  class="has-subnav">
                <a routerLink="/template">
                   <i class="fa fa-file-text-o fa-2x"></i>
                    <span class="nav-text">
                        Templates
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a>
                   <i class="fa fa-bullseye fa-2x"></i>
                    <span class="nav-text">
                        Metrics
                    </span>
                </a>
               
            </li>
            <li>
                <a>
                    <i class="fa fa-users fa-2x"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
            <li>
                <a >
                    <i class="fa fa-address-book-o fa-2x"></i>
                    <span class="nav-text">
                       Clients
                    </span>
                </a>
            </li>
            <li>
               <a>
                   <i class="fa fa-plug fa-2x"></i>
                    <span class="nav-text">
                        Integrations
                    </span>
                </a>
            </li>
            <li>
               <a>
                    <i class="fa fa-cog fa-2x"></i>
                    <span class="nav-text">
                        Setting
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
<br><br>
<div class="container">
<div class="row">
    <div class="col-2.5"> 
      <div class="search">
        <span class="fa fa-search"></span>
        <input placeholder="Search Proposals" class="form-control">
      </div>
    </div>
    <div class="col-2">
      <div class="input-group">
        <button class="btn  dropdown-toggle"  data-toggle="dropdown">All users</button>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="#">All users</a>
          <a class="dropdown-item" href="#">No Workspace</a>
          <a class="dropdown-item" href="#"><i class="fa fa-user" style=" display: inline; padding-right:10px "></i>{{name}}</a>
      </div>
    </div>
  </div>
  <div class="col-5">
      <button type="submit" class="btn btn-block" id="btn2" ><i class="fa fa-star" style=" display: inline; padding-right:10px " ></i> </button>
    </div>
  <div class="col-2">
      <button type="submit" class="btn btn-block" id="btn0" routerLink="/template" ><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i> Proposal / <br> &nbsp; &nbsp; Resume</button>
    </div>
  </div>
</div>
<br><br><br>

<div class="container">
  <table class="table">
      <thead >
          <tr>
            <td> <b> PROPOSALS </b></td><hr />
            <td style="padding-right:400px"><b><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>ADD STREAM </b></td>
            <td><b>VIEW ARCHIVES </b></td>
          </tr>
        </thead>
  </table>
</div>
<br><br><br>
<div class="container">
        <img src="./assets/empty_pipeline.png" height="100%" width="40%" style="margin-left:300px">
        <br><br><br>
        <p style="text-align:center" class="text-muted">There are no proposals in your Proposals stream.</p>
        <br>
        <button type="submit" class="btn btn-block" id="btn0" routerLink="/template" style="margin-left:500px" ><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i> Proposal / <br> &nbsp; &nbsp; Resume</button>
      </div>
      <br><br><br><br>
</body>
<script>

</script>
</html> 
