<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/JS/proposal3.js"></script>

<script type="text/javascript" src="proposalAccounnting/wz_jsgraphics.js"></script> 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button class="btn btn-arrow-right" id="sign" *ngIf="!pay.payed" [routerLink]="['/Payment',this.param1]" type="button"> Purchase </button>
        <button style="background-color: #83db77;border: none; border-radius: 0.5rem;"   *ngIf="pay.payed">
            <div id="content" #content> 
                    <input class="btn" id ="sign" style="padding: 0rem 0rem;" type="button" value="Download" *ngIf="pay.payed" (click)="generatePDF()"/> 
                </div>
			</button>  
    </div>
</nav>

<div class="sidebar main" id="table-wrapper">
  <div id="table-scroll">
    <table style="width:100%">
        <tbody>
           <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a href="#resume1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
           <tr><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a> <img src="./assets/resume2.png" height="40px" width="50px"/> </a> </td></tr>
        </tbody>
    </table>
  </div>
</div>

<div class="container" style="padding-top:50px;">
<div id="froala-editor" class="canvas_div_pdf" style="width: 90%;max-width: 700px;background: #f3f3f3;margin: 30px auto;"> 
	<div style="padding: 25px 35px;border-bottom: 2px solid #cf8a05; background: #ededed;padding-bottom: 0px;">
		<div style="font-size: 2.5em;font-weight: 700;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;margin-bottom: -6px;float: left;">
			<h1 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">{{name}}</h1>
		</div>
		<div style="list-style-type: none;font-size: 0.9em;margin-top: 2px;float: right;margin-bottom: 3px;color: #444;">
			<ul style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;list-style-type: none; padding-inline-start: 0">
				<li style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Email: {{eid}}</li>
				<li style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Mobile No.: {{mob}}</li>
			</ul>
		</div>
		<div style="clear: both"></div>	
	</div>
	
	<div style="padding: 0 40px;border-bottom: 2px solid #cf8a05;">
		<section style="border-top: 1px solid #dedede;padding: 20px 0 0;">
			<article>
				<div style="float: left;width: 25%;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-style: italic;font-size: 1.5em;color: #cf8a05;">
					<h1 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Personal Profile</h1>
				</div>
				
				<div style="float: right;width: 72.5%;list-style-type: none;font-size: 0.9em;margin-top: 2px;margin-bottom: 3px;color: #444;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 1.5em;margin-bottom: -2px;">
					<ul style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;list-style-type: none; padding-inline-start: 0" >
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Name : {{name}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Date of Birth : {{dob}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Age : {{age}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Mobile No. : {{mob}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Email : {{eid}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Address : {{add}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Country : {{count}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">State : {{stat}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">City : {{rcity}}</li>
			</ul>
				</div>
			</article>
			<div style="clear: both"></div>
		</section>
		
		 
		<section style="border-top: 1px solid #dedede;padding: 20px 0 0;">
			<div style="float: left;width: 25%;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-style: italic;font-size: 1.5em;color: #cf8a05;">
				<h1 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Work Experience</h1>
			</div>
			
			<div style="float: right;width: 72.5%;list-style-type: none;font-size: 0.9em;margin-top: 2px;margin-bottom: 3px;color: #444;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 1.5em;margin-bottom: -2px;">
				<article>
					<h2 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Job Title at Company</h2>
					<p style="font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 14px;margin-bottom: -2px;">{{sdate}} - {{edate}}</p>
					<h3 style="border:0;font:inherit;font-size:16px;	margin:0;	padding:0;vertical-align:baseline;">Job Details</h3>
					<ul style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;list-style-type: none; padding-inline-start: 0">
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Experience : {{exper}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Job Profile : {{jobpro}}</li>
				<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Company Name : {{comnam}}</li>
			</ul>
				</article>
				
			</div>
			<div style="clear: both"></div>
		</section>
		
		
		<section style="border-top: 1px solid #dedede;padding: 20px 0 0;">
			<div style="float: left;width: 25%;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-style: italic;font-size: 1.5em;color: #cf8a05;">
				<h1 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Key Skills</h1>
			</div>
			
			<div style="float: right;width: 72.5%;list-style-type: none;font-size: 0.9em;margin-top: 2px;margin-bottom: 3px;color: #444;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 1.5em;margin-bottom: -2px;">
				<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">{{skil}}</li>
				</ul>
			</div>
			<div style="clear: both"></div>
		</section>
		

		<section style="border-top: 1px solid #dedede;padding: 20px 0 0;">
			<div style="float: left;width: 25%;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-style: italic;font-size: 1.5em;color: #cf8a05;">
				<h1 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Achivement</h1>
			</div>
			
			<div style="float: right;width: 72.5%;list-style-type: none;font-size: 0.9em;margin-top: 2px;margin-bottom: 3px;color: #444;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 1.5em;margin-bottom: -2px;">
				<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">{{achiv}}</li>
				</ul>
			</div>
			<div style="clear: both"></div>
		</section>
		
		<section style="border-top: 1px solid #dedede;padding: 20px 0 0;">
			<div style="float: left;width: 25%;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-style: italic;font-size: 1.5em;color: #cf8a05;">
				<h1 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Education</h1>
			</div>
			
			<div style="float: right;width: 72.5%;list-style-type: none;font-size: 0.9em;margin-top: 2px;margin-bottom: 3px;color: #444;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 1.5em;margin-bottom: -2px;">
				
				<article>
					<h2 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">School</h2>
					<p style="font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 16px;margin-bottom: -2px;">Qualification</p>
					<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Tenth School : {{tensch}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Tenth Percentage: {{tenper}}%</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Tenth Passingyear : {{tenpass}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Twelth School  : {{twlsch}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Twelth Percentage  : {{twlper}}%</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Twelth Passingyear  : {{twlpass}}</li>
				</ul>
        </article>
        
        <article>
					<h2 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Graduation College/University</h2>
					<p style="font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 16px;margin-bottom: -2px;">Qualification</p>
					<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Graduation Collage : {{gcoll}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Graduation Stream : {{gstr}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Graduation Percentage : {{gper}}%</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Graduation Passing year : {{gpass}}</li>
				</ul>
        </article>
        
        <article>
					<h2 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Post Graduation College/University</h2>
					<p style="font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 16px;margin-bottom: -2px;">Qualification</p>
					<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Post Graduation Collage : {{pgcoll}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">Post Graduation Stream : {{pgstr}}</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">PG Percentage : {{pgper}}%</li>
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">PG Passing year : {{pgpass}}</li>
				</ul>
				</article>
			</div>
			<div style="clear: both"></div>
		</section>
		
		<section style="border-top: 1px solid #dedede;padding: 20px 0 0;">
			<div style="float: left;width: 25%;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-style: italic;font-size: 1.5em;color: #cf8a05;">
				<h1 style="border:0;font:inherit;font-size:24px;	margin:0;	padding:0;vertical-align:baseline;">Languages & Hobbies</h1>
			</div>
			
			<div style="float: right;width: 72.5%;list-style-type: none;font-size: 0.9em;margin-top: 2px;margin-bottom: 3px;color: #444;font-family: 'Rokkitt', Helvetica, Arial, sans-serif;font-size: 1.5em;margin-bottom: -2px;">
					<h2 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Languages</h2>
				<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">{{lang}}</li>
				</ul>
					<h2 style="border:0;font:inherit;font-size:100%;	margin:0;	padding:0;vertical-align:baseline;">Hobbies</h2>
				<ul style="column-count:2;margin-bottom: 10px;font-size: 1em;color: #444;list-style-type: none; padding-inline-start: 0">
					<li style="border:0;font:inherit;font-size:14px;	margin:0;	padding:0;vertical-align:baseline;">{{hobb}}</li>
				</ul>
			</div>
			<div style="clear: both"></div>
		</section>
	</div>
   <br>
	</div>
 </div>
  <div class="sidenav-r">
    <br><br>
  <div>
      <table style="width:100%">
              <tbody>
                  <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 4px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>RESUME DETAILS  </b> </small></th> </tr> 
              </tbody>
      </table>
      </div>
      <p>
          <label style="margin-top: 10px; padding-left: 20px;"><span> <small class="text-muted">NAME & CLIENT</small></span></label>
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> NAME :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> Resume </b></font></small> 
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> CLIENT :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> {{name}} </b></font></small>
        </p> 
        <hr> 
        <p>
            <label style="padding-left: 20px;"><span> <small class="text-muted">RESUME PRICE</small></span></label>
            <br>
            <small class="text-muted" style="padding-left: 20px;"><font size="2"> One Time Fee :-</font></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> INR1,500.00 </b></font></small> 
            <br>
            <small class="text-muted" style="padding-left: 20px;"><input type="checkbox" aria-label="Checkbox for following text input" checked></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2">Include taxes in preview </font></small>
            <i class="fa fa-question-circle"></i>
					</p> 
					<hr>
          <small *ngIf="pay.payed" class="text-muted" style="padding-left: 20px;"><input class="myCheckBox" type="checkbox" aria-label="Checkbox for following text input" value="true"></small>
            <small *ngIf="pay.payed" class="text-muted" style="padding-left: 5px"><font size="2">Customize your Resume and <span style="margin-left: 38px">Check to Download</span>  </font></small>
</div>
  
</body>
<script>

</script>
</html>
