<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light  navbar fixed-top  ">
        <div class="nav">
            <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
          <div class="text-right"> <button type="button" class="btn btn-arrow-right " id="sign"> <small>Use this</small></button></div> 
      </div>
      </nav> 

<div class="sidebar main" id="table-wrapper">
    <div id="table-scroll">
      <table>
          <tbody>
            <a href="#home"><small style="color:#004053">Cover</small></a>
            <a href="#services"> Services</a>
            <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
            <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
          </tbody>
      </table>
    </div>
  </div>


</body>
</html> 