<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top navbar-light bg-light" >
        <div class="container">
          <div>  <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="80px" width="110px"></a>
          </div>
          <div class="btn-group">
              <button type="button" id ="sign1" class="btn  dropdown-toggle" data-toggle="dropdown" *ngIf="logn.logged">
                  {{name}}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/profile"> <small class="text-muted">Profile</small></a>
                <a class="dropdown-item" *ngIf="logn.logged" routerLink="/home" (click) = "logout()"> <small class="text-muted">Logout</small></a>
            </div>
          </div>
      </div>
      </nav>  
  
      
      <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-product-hunt fa-3x"></i>
                    <span class="nav-text">
                        Pipeline
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-archive fa-2x"></i>
                    <span class="nav-text">
                        Content Library
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-file-text-o fa-2x"></i>
                    <span class="nav-text">
                        Templates
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-bullseye fa-2x"></i>
                    <span class="nav-text">
                        Metrics
                    </span>
                </a>
               
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-2x"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-address-book-o fa-2x"></i>
                    <span class="nav-text">
                       Clients
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                   <i class="fa fa-plug fa-2x"></i>
                    <span class="nav-text">
                        Integrations
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                    <i class="fa fa-cog fa-2x"></i>
                    <span class="nav-text">
                        Setting
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
<br><br>
<div >
<div class="container">
    <button routerLink="/resumeeducationaldetail" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px;height: 30px;margin-left:320px;" >&#9666; Back</button>
</div>
<hr>
<div class="container">
    <div class="card" id="maindiv" style="width: 37rem;">
        <div class="card-body">
            <form [formGroup]="angForm" novalidate>
                <h3 style="color: #004053">Enter the Resume Details</h3> <br>
                <div class="alert alert-success" role="alert" style="font-family: 'proxima-nova',sans-serif;font-size: 16px"><i class="fa fa-check-circle" style="display:inline;"> </i> You have selected the "Resume" template</div>
                <h6 style="color: #004053"> <b>Experience Details</b></h6> 

                <input type="hidden" class="form-control"  #Email value="{{email}}">

                        <div class="form-group">
                            <small class="form-text text-muted" ><label>Company Name</label></small>
                            <input type="text" class="form-control" formControlName="Company_name"  #Company_name>
                        </div>
                
                    <div class="form-row">
                            <div class="col-md-8 ">
                                    <small class="form-text text-muted" ><label>Job Profile</label></small> 
                            <input type="text" class="form-control" formControlName="Job_profile" #Job_profile>
                            </div>
                            <div class="col-md-4 ">
                                    <small class="form-text text-muted" ><label>Experience Year</label></small> 
                            <input type="number" class="form-control" formControlName="Experience" #Experience>
                            </div>
                        </div> 
                            <br>
                        <div class="form-row">
                                <div class="col-md-6">
                                        <small class="form-text text-muted" ><label>Start Year</label></small> 
                                <input type="text" class="form-control" formControlName="Start_date" #Start_date >
                                </div>
                                <div class="col-md-6">
                                <small class="form-text text-muted" ><label> End Year</label></small> 
                                <input type="text" class="form-control" formControlName="End_date" #End_date>
                                </div>
                            </div> 
                            <br>
                            <div class="form-group">
                                <small class="form-text text-muted" ><label>Achivement</label></small>
                                <input type="text" class="form-control" formControlName="Achivement"  #Achivement >
                            </div>

                            <div class="form-group">
                                <small class="form-text text-muted" ><label>Skills</label></small>
                                <input type="text" class="form-control" formControlName="Skills" required #Skills >
                            </div> 
                            <small><div *ngIf="angForm.controls['Skills'].invalid && (angForm.controls['Skills'].dirty )" class="alert-danger">
                                <div *ngIf="angForm.controls['Skills'].errors.required">
                                Skills is required.
                                </div>
                            </div></small>                      

                            <div class="form-group">
                                <small class="form-text text-muted" ><label>Languages</label></small>
                                <input type="text" class="form-control" formControlName="Languages" required #Languages >
                            </div> 
                            <small><div *ngIf="angForm.controls['Languages'].invalid && (angForm.controls['Languages'].dirty )" class="alert-danger">
                                <div *ngIf="angForm.controls['Languages'].errors.required">
                                 Languages is required.
                                </div>
                            </div></small>

                            <div class="form-group">
                                <small class="form-text text-muted" ><label>Hobbies</label></small>
                                <input type="text" class="form-control" formControlName="Hobbies" required #Hobbies >
                            </div>
                            <small><div *ngIf="angForm.controls['Hobbies'].invalid && (angForm.controls['Hobbies'].dirty )" class="alert-danger">
                                <div *ngIf="angForm.controls['Hobbies'].errors.required">
                                Hobbies is required.
                                </div>
                            </div></small> 
    
                            <br>
                <div class="form-group">
                        <button type="button" class="btn btn-arrow-right " id="sign" (click)="onClick(Email.value,Company_name.value,Job_profile.value,Experience.value,Start_date.value,End_date.value,Achivement.value,Skills.value,Languages.value,Hobbies.value)" [disabled]="angForm.pristine || angForm.invalid" style="margin-left: 200px"> Next Step</button>                               
                </div> <br>
                <hr>
            </form>
        </div>
      </div>
    </div>
</div>
</body>
<script type="text/javascript">

    </script>

</html> 

