<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/JS/Canvas1.js"></script>
<style type="text/css">

div.cls_002{font-family:Arial,serif;font-size:67.5px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:22.6px;color:rgb(193,162,78);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:22.6px;color:rgb(193,162,78);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:15.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:15.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.3px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:52.5px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:52.5px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12px;color:rgb(0,98,119);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:11.3px;color:rgb(0,98,119);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:11.3px;color:rgb(9,45,45);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:11.3px;color:rgb(9,45,45);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(193,162,78);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(193,162,78);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.3px;color:rgb(9,45,45);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:11.3px;color:rgb(9,45,45);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:15.1px;color:rgb(0,98,119);font-weight:bold;font-style:normal;text-decoration: none}  
div.cls_012{font-family:Arial,serif;font-size:15.1px;color:rgb(0,98,119);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(252,252,252);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(252,252,252);font-weight:bold;font-style:normal;text-decoration: none} 

</style>
<script type="text/javascript" src="proposalAccounnting/wz_jsgraphics.js"></script> 
</head>
<body style="background-color: #EDEDED">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button routerLink="/payment" type="button" class="btn btn-arrow-right " id="sign">Purchase</button>
    </div>
</nav>

<div class="sidebar main" ibtn1d="table-wrapper">
    <div id="table-scroll" class="m1 menu" >
        <div id="menu-center">
            <table style="width:100%" >
                <tbody>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
                    <tr class="tr1"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a  href="#p1"> <img class="active" src="./assets/proposal1/proposal1.0.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a2" style="padding:1%"><small style="color:#004053;">Letter</small></a></th> </tr> 
                    <tr class="tr2"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p2"> <img src="./assets/proposal1/proposal1.1.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a3" style="padding:1%"><small style="color:#004053;">About Us</small></a></th> </tr> 
                    <tr class="tr3" ><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p3"> <img src="./assets/proposal1/proposal1.2.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a4" style="padding:1%"><small style="color:#004053;">Team</small></a></th> </tr> 
                    <tr class="tr4"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p4"> <img src="./assets/proposal1/proposal1.3.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a5" style="padding:1%"><small style="color:#004053;">Project Summary</small></a></th> </tr> 
                    <tr class="tr5"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p5"> <img src="./assets/proposal1/proposal1.4.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a6" style="padding:1%"><small style="color:#004053;">Proposal</small></a></th> </tr> 
                    <tr class="tr6"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p6"> <img src="./assets/proposal1/proposal1.5.png" height="40px" width="50px"/></a><a href="#p7"> <img src="./assets/proposal1/proposal1.6.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a7" style="padding:1%"><small style="color:#004053;">Service & Pricing</small></a></th> </tr> 
                    <tr class="tr7"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p8"> <img src="./assets/proposal1/proposal1.7.png" height="40px" width="50px"/></a><a href="#p9"> <img src="./assets/proposal1/proposal1.8.png" height="40px" width="50px"/></a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a8" style="padding:1%"><small style="color:#004053;">Next Steps</small></a></th> </tr> 
                    <tr class="tr8"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p10"> <img src="./assets/proposal1/proposal1.9.png" height="40px" width="50px"/> </a> </td></tr>
                    <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a id="a9" style="padding:1%"><small style="color:#004053;">Contact</small></a></th> </tr> 
                    <tr class="tr9"><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#p11"> <img src="./assets/proposal1/proposal1.10.png" height="40px" width="50px"/> </a> </td></tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>  

<div id="content" #content>
<div style="position:absolute;left:50%;margin-left:-297px;top:100px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box" >
        <canvas id="c" width=590 height=835	style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:105.75px;top:250.18px;line-height:1" class="cls_002"><span class="cls_002"> <canvas id="p1" width="450px" height="200px" > rghg erg  eg eb e</canvas></span></div>
<div style="position:absolute;left:105.75px;top:599.30px" class="cls_003"><span class="cls_003">For {{cname}}</span></div>
<div style="position:absolute;left:105.75px;top:641.04px" class="cls_004"><span class="cls_004">Prepared by {{comname}}</span></div>
<div style="position:absolute;left:105.75px;top:664.87px" class="cls_005"><span class="cls_005">{{comname}}</span></div>
<div style="position:absolute;left:108.67px;top:682.12px" class="cls_006"><span class="cls_006">| {{comemail}}</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:951px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
  <div  class="box1" >
    <canvas id="c1" width=590 height=835 style="border-style: ridge"></canvas>
</div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"> <canvas id="p2" width="450px"></canvas></span></div>
<div style="position:absolute;left:51.75px;top:171.71px" class="cls_009"><span class="cls_009">{{cname}}</span></div>
<div style="position:absolute;left:51.75px;top:186.71px" class="cls_009"><span class="cls_009">{{cadd}}</span></div>
<div style="position:absolute;left:51.75px;top:202.71px" class="cls_009"><span class="cls_009">{{ccoun}}</span></div>
<div style="position:absolute;left:51.75px;top:216.71px" class="cls_009"><span class="cls_009">{{cstat}}</span></div>
<div style="position:absolute;left:51.75px;top:228.71px" class="cls_009"><span class="cls_009">{{ccity}}</span></div>
<div style="position:absolute;left:51.75px;top:244.71px" class="cls_009"><span class="cls_009">{{cmob1}}</span></div>
<div style="position:absolute;left:51.75px;top:252.71px" class="cls_009"><span class="cls_009">{{cmob2}}</span></div>
<div style="position:absolute;left:204.00px;top:173.62px" class="cls_010"><span class="cls_010">Dear {{cname}},</span></div>
<div style="position:absolute;left:51.75px;top:209.21px" class="cls_009"><span class="cls_009">,</span></div>
<div style="position:absolute;left:204.00px;top:215.12px" class="cls_010"><span class="cls_010">{{comname}} <canvas id="p3" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:51.75px;top:295.46px" class="cls_007"><span class="cls_007">REGARDING:</span></div>
<div style="position:absolute;left:51.75px;top:320.21px" class="cls_009"><span class="cls_009">PROPOSAL TO PROVIDE</span></div>
<div style="position:absolute;left:51.75px;top:335.21px" class="cls_009"><span class="cls_009">PROFESSIONAL</span></div>
<div style="position:absolute;left:51.75px;top:350.21px" class="cls_009"><span class="cls_009">ACCOUNTING, CONSULTING</span></div>
<div style="position:absolute;left:51.75px;top:365.21px" class="cls_009"><span class="cls_009">AND FINANCIAL</span></div>
<div style="position:absolute;left:51.75px;top:380.21px" class="cls_009"><span class="cls_009">MANAGEMENT SERVICES</span></div>
<div style="position:absolute;left:214.00px;top:643.87px" class="cls_011"><span class="cls_011">{{comname}}</span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">1</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:1802px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c2" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p4" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:53.25px;top:171.54px" class="cls_012"><span class="cls_012"><canvas id="p5" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:51.75px;top:601.55px" class="cls_003"><span class="cls_003"><canvas id="p6" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:51.75px;top:643.29px" class="cls_004"><span class="cls_004"><canvas id="p7" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">2</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:2653px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c3" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p8" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:51.75px;top:172.29px" class="cls_012"><span class="cls_012">As our client your engagement would be led by a single partner,</span></div>
<div style="position:absolute;left:51.75px;top:193.29px" class="cls_012"><span class="cls_012">{{cname}}. {{cname}} is backed by a team of dedicated</span></div>
<div style="position:absolute;left:51.75px;top:214.29px" class="cls_012"><span class="cls_012">and seasoned professionals, who have a combined years</span></div>
<div style="position:absolute;left:51.75px;top:235.29px" class="cls_012"><span class="cls_012">experience in this INDUSTRY.</span></div>
<div style="position:absolute;left:273.00px;top:290.30px" class="cls_003"><span class="cls_003"><canvas id="p9" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:273.00px;top:332.04px" class="cls_012"><span class="cls_012"><canvas id="p10" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">3</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:3504px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c4" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008">PROJECT SUMMARY</span></div>
<div style="position:absolute;left:52.50px;top:168.54px" class="cls_012"><span class="cls_012">It is interested in securing an accounting partner to assist</span></div>
<div style="position:absolute;left:52.50px;top:189.54px" class="cls_012"><span class="cls_012">with restructuring the booking keeping and accounting, as well</span></div>
<div style="position:absolute;left:52.50px;top:210.54px" class="cls_012"><span class="cls_012">as regular tax filings.</span></div>
<div style="position:absolute;left:52.50px;top:263.30px" class="cls_003"><span class="cls_003">Goals of the Project</span></div>
<div style="position:absolute;left:70.43px;top:316.87px" class="cls_010"><span class="cls_010">• Increase operational efficiency and production</span></div>
<div style="position:absolute;left:70.43px;top:339.00px" class="cls_010"><span class="cls_010">• Greater administrative control</span></div>
<div style="position:absolute;left:70.43px;top:361.12px" class="cls_010"><span class="cls_010">• Lowered administrative costs</span></div>
<div style="position:absolute;left:70.43px;top:383.25px" class="cls_010"><span class="cls_010">• Cash management control</span></div>
<div style="position:absolute;left:70.43px;top:405.37px" class="cls_010"><span class="cls_010">• Uninterrupted customer service</span></div>
<div style="position:absolute;left:70.43px;top:427.50px" class="cls_010"><span class="cls_010">• Timely federal and local tax filings</span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">4</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:4355px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c5" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p11" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:168.54px" class="cls_012"><span class="cls_012">{{comname}} will help {{cname}} move to a comprehensive transaction</span></div>
<div style="position:absolute;left:52.50px;top:189.54px" class="cls_012"><span class="cls_012">management service build on the QuickBooks platform. This</span></div>
<div style="position:absolute;left:52.50px;top:210.54px" class="cls_012"><span class="cls_012">move will allow for all bookkeeping and accounting functions</span></div>
<div style="position:absolute;left:52.50px;top:231.54px" class="cls_012"><span class="cls_012">to be seamlessly accessible as well as provide complete</span></div>
<div style="position:absolute;left:52.50px;top:252.54px" class="cls_012"><span class="cls_012">customer data access.</span></div>
<div style="position:absolute;left:52.50px;top:291.37px" class="cls_010"><span class="cls_010">{{comname}} proposes to host and maintain all the QuickBooks data files, so that actually</span></div>
<div style="position:absolute;left:52.50px;top:308.62px" class="cls_010"><span class="cls_010">licensing costs are built into Expert Accountants weekly service fee so that there is no</span></div>
<div style="position:absolute;left:52.50px;top:325.87px" class="cls_010"><span class="cls_010">software investment required. {{cname}} will own the data file at all times.</span></div>
<div style="position:absolute;left:52.50px;top:374.30px" class="cls_003"><span class="cls_003"><canvas id="p12" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:70.43px;top:410.62px" class="cls_010"><span class="cls_010"><canvas id="p13" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:547.55px" class="cls_003"><span class="cls_003"><canvas id="p14" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:70.43px;top:583.87px" class="cls_010"><span class="cls_010"><canvas id="p15" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">5</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:5206px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c6" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p16" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:165.80px" class="cls_003"><span class="cls_003"><canvas id="p17" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:70.43px;top:202.12px" class="cls_010"><span class="cls_010"><canvas id="p18" height="600px" width="560px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:339.05px" class="cls_003"><span class="cls_003"><canvas id="p19" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:70.43px;top:375.37px" class="cls_010"><span class="cls_010"><canvas id="p20" height="600px" width="450px"></canvas></span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">6</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:6057px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c7" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p21" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:168.54px" class="cls_012"><span class="cls_012">Our fees are based on the time required and will be billed at the</span></div>
<div style="position:absolute;left:52.50px;top:189.54px" class="cls_012"><span class="cls_012">all-inclusive fixed rate of INR150.00 per hour for the contract</span></div>
<div style="position:absolute;left:52.50px;top:210.54px" class="cls_012"><span class="cls_012">period of one year from the date of the contract.</span></div>
<div style="position:absolute;left:52.50px;top:249.37px" class="cls_010"><span class="cls_010">Expenses for travel, meals, lodging, printing and report production are charged as part of</span></div>
<div style="position:absolute;left:52.50px;top:266.62px" class="cls_010"><span class="cls_010">the all-inclusive rate above. We are sensitive to the financial challenges facing INDUSTRY</span></div>
<div style="position:absolute;left:52.50px;top:283.87px" class="cls_010"><span class="cls_010">and want to minimize fees to the extent possible within the scope of the project.</span></div>
<div style="position:absolute;left:52.50px;top:318.37px" class="cls_011"><span class="cls_011">Expert Accountants provides the following estimate based on the project summary</span></div>
<div style="position:absolute;left:52.50px;top:335.62px" class="cls_011"><span class="cls_011">provided:</span></div>
<div style="position:absolute;left:56.25px;top:373.87px" class="cls_010"><span class="cls_010">Estimate fee hours</span></div>
<div style="position:absolute;left:414.15px;top:373.87px" class="cls_010"><span class="cls_010">46</span></div>
<div style="position:absolute;left:56.25px;top:400.12px" class="cls_010"><span class="cls_010">Estimate fee per hour</span></div>
<div style="position:absolute;left:414.15px;top:400.12px" class="cls_010"><span class="cls_010">INR150</span></div>
<div style="position:absolute;left:56.25px;top:426.37px" class="cls_011"><span class="cls_011">Estimate total fees</span></div>
<div style="position:absolute;left:414.15px;top:426.37px" class="cls_011"><span class="cls_011">INR6,900</span></div>
<div style="position:absolute;left:52.50px;top:466.12px" class="cls_010"><span class="cls_010">We are proposing to provide the following services within these fee hours: preparation of</span></div>
<div style="position:absolute;left:52.50px;top:483.37px" class="cls_010"><span class="cls_010">audited tax statements, filing of state and federal taxes, review of bookkeeping procedure,</span></div>
<div style="position:absolute;left:52.50px;top:500.62px" class="cls_010"><span class="cls_010">consulting on financial business practices and reporting to business partners as directed.</span></div>
<div style="position:absolute;left:52.50px;top:535.12px" class="cls_010"><span class="cls_010">We are also providing outsourced bookkeeping and CFO services. This will not only reduce/</span></div>
<div style="position:absolute;left:52.50px;top:552.37px" class="cls_010"><span class="cls_010">eliminate personnel and related costs required for current in-house processes, but also</span></div>
<div style="position:absolute;left:52.50px;top:569.62px" class="cls_010"><span class="cls_010">add much needed financial reporting detail and cash management.</span></div>
<div style="position:absolute;left:52.50px;top:618.05px" class="cls_003"><span class="cls_003">Cost Comparison</span></div>
<div style="position:absolute;left:52.50px;top:654.37px" class="cls_010"><span class="cls_010">One full time clerical staff, 40 hrs/week, INR12/hr, payroll taxes:</span><span class="cls_011"> INR542.00/week</span></div>
<div style="position:absolute;left:52.50px;top:671.62px" class="cls_010"><span class="cls_010">Expert Accountants Service Plan:</span><span class="cls_011"> INR340.00/week</span></div>
<div style="position:absolute;left:52.50px;top:688.87px" class="cls_010"><span class="cls_010">Expert Accountants Service Plan:</span><span class="cls_011"> INR340.00/week</span></div>
<div style="position:absolute;left:52.50px;top:706.12px" class="cls_010"><span class="cls_010">Monthly cost savings:</span><span class="cls_011"> INR833.00</span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">7</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:6908px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c8" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p22" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:168.54px" class="cls_012"><span class="cls_012">Our fees will be billed monthly as work progresses. Billing will</span></div>
<div style="position:absolute;left:52.50px;top:189.54px" class="cls_012"><span class="cls_012">be detailed by project and advisory services. Invoices will be</span></div>
<div style="position:absolute;left:52.50px;top:210.54px" class="cls_012"><span class="cls_012">due upon receipt.</span></div>
<div style="position:absolute;left:60.00px;top:288.92px" class="cls_004"><span class="cls_004">Description</span></div>
<div style="position:absolute;left:307.23px;top:288.92px" class="cls_004"><span class="cls_004">Unit</span></div>
<div style="position:absolute;left:388.89px;top:288.92px" class="cls_004"><span class="cls_004">Hours</span></div>
<div style="position:absolute;left:498.59px;top:288.92px" class="cls_004"><span class="cls_004">Price</span></div>
<div style="position:absolute;left:56.25px;top:322.12px" class="cls_011"><span class="cls_011">Accounting Services</span></div>
<div style="position:absolute;left:310.93px;top:322.12px" class="cls_010"><span class="cls_010">INR150</span></div>
<div style="position:absolute;left:405.92px;top:322.12px" class="cls_010"><span class="cls_010">46</span></div>
<div style="position:absolute;left:488.24px;top:322.12px" class="cls_010"><span class="cls_010">INR6,900</span></div>
<div style="position:absolute;left:56.25px;top:339.37px" class="cls_010"><span class="cls_010">Estimated hours</span></div>
<div style="position:absolute;left:60.00px;top:369.00px" class="cls_013"><span class="cls_013">Total</span></div>
<div style="position:absolute;left:488.99px;top:369.00px" class="cls_013"><span class="cls_013">INR6,900</span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">8</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:7759px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c9" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p23" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:165.80px" class="cls_003"><span class="cls_003"><canvas id="p24" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:202.12px" class="cls_010"><span class="cls_010"><canvas id="p25" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:319.55px" class="cls_003"><span class="cls_003"><canvas id="p26" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:355.87px" class="cls_010"><span class="cls_010"><canvas id="p27" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:404.30px" class="cls_003"><span class="cls_003"><canvas id="p28" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:440.62px" class="cls_011"><span class="cls_011"><canvas id="p29" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:567.80px" class="cls_003"><span class="cls_003"><canvas id="p30" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:604.12px" class="cls_010"><span class="cls_010"><canvas id="p31" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:652.55px" class="cls_003"><span class="cls_003"><canvas id="p32" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:52.50px;top:688.87px" class="cls_010"><span class="cls_010"><canvas id="p33" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:578.56px;top:805.46px" class="cls_007"><span class="cls_007">9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:8610px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <div  class="box1" >
        <canvas id="c10" width=590 height=837 style="border-style: ridge"></canvas>
    </div></div>
<div style="position:absolute;left:53.25px;top:54.55px" class="cls_008"><span class="cls_008"><canvas id="p34" height="600px" width="550px"></canvas></span></div>
<div style="position:absolute;left:51.00px;top:171.54px" class="cls_012"><span class="cls_012">{{comname}} are very interested in working with you and would love</span></div>
<div style="position:absolute;left:51.00px;top:192.54px" class="cls_012"><span class="cls_012">to set up a meeting with you to answer any questions you may</span></div>
<div style="position:absolute;left:51.00px;top:213.54px" class="cls_012"><span class="cls_012">have and determine the next steps in this process.</span></div>
<div style="position:absolute;left:51.00px;top:266.30px" class="cls_003"><span class="cls_003">{{comname}}</span></div>
<div style="position:absolute;left:51.00px;top:326.04px" class="cls_012"><span class="cls_012">{{comname}}</span></div>
<div style="position:absolute;left:53.92px;top:367.12px" class="cls_010"><span class="cls_010">| {{comemail}}</span></div>
<div style="position:absolute;left:53.92px;top:384.37px" class="cls_010"><span class="cls_010">| {{comadd}},{{comcont}},{{comstat}},{{comcity}}</span></div>
<div style="position:absolute;left:572.87px;top:805.46px" class="cls_007"><span class="cls_007">10</span></div>
</div>
<div style="position:absolute;left:50%;top:8740px;width:595px;height:763px"></div>
</div>

  <div class="sidenav-r">
    <br><br>
    <div>
    <table style="width:100%">
            <tbody>
                <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>IMAGE PROPERTIES</b> </small></th> </tr> 
            </tbody>
    </table>
    </div>
  <div id="text-wrapper" style="margin-top: 10px; padding-left: 20px;" >
    <div id="text-controls">
        <div class="row">
            <div class="col"> <p>
                <label><span> <small class="text-muted">Width</small></span> <input type="number" class="form-control input-xs" id="left-control" value="24" min="-500" max="300" style="width:75px;height: 35px;"></label>
              </p></div>
            <div class="col"><p>
                <label><span><small class="text-muted">Height</small></span> <input type="number" class="form-control input-xs" id="top-control" value="10" min="-500" max="300" style="width:75px;height: 35px"></label>
              </p></div>
          </div>    
          <div class="row" >
              <div class="col" ><p>
                  <label><span><small class="text-muted">Corners</small></span> <input type="number" class="form-control input-xs" id="scale-control" value="0.7" min="0.1" max="3" step="0.1" style="width:75px;height: 35px"></label>
                </p></div>
              <div class="col"><p>
                  <label><span><small class="text-muted">Rotate</small></span> <input type="number" class="form-control input-xs" id="angle-control" value="0"  min="0" max="360" style="width:75px;height: 35px"></label>
                </p></div>
          </div>
      </div>
  </div>
  <div>
    <table style="width:100%">
            <tbody>
                <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>TEXT PROPERTIES</b> </small></th> </tr> 
            </tbody>
    </table>
    </div>
  <div id="text-wrapper" style="margin-top: 10px; padding-left: 20px;" >
    <div id="text-controls">
        <div class="row">
            <div class="col"> <p>
                <label><i class="fa fa-bold"  id="bold" aria-hidden="true"></i></label>
              </p></div>
            <div class="col"><p>
                <label><i class="fa fa-italic"  id="italic" aria-hidden="true"></i></label>
              </p></div>
              <div class="col" ><p>
                  <label><i class="fa fa-superscript" id="super-script" aria-hidden="true"></i></label>
                </p></div>
              <div class="col"><p>
                  <label><i class="fa fa-subscript" id="sub-script" aria-hidden="true"></i></label>
                </p></div>
          </div>
          <div class="row">
                <div class="col"> <p>
                        <label><span> <small class="text-muted">Font Colour</small></span><input type="color" class="form-control input-xs" value="24" min="-500" max="300" style="width:75px;height: 35px;" id="color"></label>    
                  </p></div>
                  <div class="col"><p>
                        <label><span> <small class="text-muted">Font Size</small></span><input type="number" class="form-control input-xs" min="5" max="150" value="20" style="width:75px;height: 35px;" id="size"></label>
                  </p></div>
                <div class="col"><p>
                        <label><span> <small class="text-muted">BG Color</small></span><input type="color" class="form-control input-xs" value="24" min="-500" max="300" style="width:75px;height: 35px;" id="bg-color"></label>
                  </p></div>
                  <div class="col">
                  <label><span><small class="text-muted">Font Style</small></span>
                        <select id="font-family" class="form-control" style="height: 35px;">
                            <option value="arial">Arial</option>
                            <option value="myriad pro">Myriad Pro</option>
                            <option value="courier">Courier</option>
                            <option value="comic sans ms">Comic Sans MS</option>
                        </select></label>
                    </div>
              </div>
      </div>
    </div>
  <div>
      <table style="width:100%">
              <tbody>
                  <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>PROPOSAL DETAILS  </b> </small></th> </tr> 
              </tbody>
      </table>
      </div>
      <p>
          <label style="margin-top: 10px; padding-left: 20px;"><span> <small class="text-muted">NAME & CLIENT</small></span></label>
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> NAME :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> Accounting Proposal </b></font></small> 
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> CLIENT :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> {{cname}} </b></font></small>
        </p> 
        <hr> 
        <p>
            <label style="padding-left: 20px;"><span> <small class="text-muted">PROPOSAL PRICE</small></span></label>
            <br>
            <small class="text-muted" style="padding-left: 20px;"><font size="2"> One Time Fee :-</font></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> INR6,900.00 </b></font></small> 
            <br>
            <small class="text-muted" style="padding-left: 20px;"><input type="checkbox" aria-label="Checkbox for following text input"></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2">Include taxes in preview </font></small>
            <i class="fa fa-question-circle"></i>
          </p> 

          <div>
                <button (click)="makePdf()">make pdf</button>
            </div>
             
</div>
  
</body>
<script>

</script>
</html> 
