#sign{
    color: #ffffff;
    background-color: #80c676;
 }

 input[type=email] {
    width: 100%;
    padding: 6px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
