<br><br><br><br>
<img src="./assets/proposifylogo.png" class="rounded mx-auto d-block" height="40%" width="10%" />
<br><br>
<div style="text-align:center">
<h1 style="color:#004053" >So you forgot your password, eh?</h1><br>
<small class="form-text text-muted" > <h6> Don't worry it happens to the best of us. <br>
    <p>Just enter your email address and we’ll send a link to reset your password. </p></h6>
      </small>
</div>
<br>
  <div style=" text-align:center" >
      <input type="email"  name="email" class=" col-sm-2" placeholder="Email Address" aria-describedby="emailHelp" #email> 
      &nbsp; &nbsp; &nbsp; <button type="submit" class="btn col-sm-1" id="sign" (click)="onClick()">Send</button>
      <small class="form-text text-muted"> Don't forget to check your spam folder. <br>
        Trouble? <a href=""> Support is ready to help. </a>
      </small>
  <br>
  <small class="form-text text-muted"><a routerLink="/login">Back to Login</a></small>
  </div>
  <br><br><br><br><br><br>
