body{
    background-color: #EDEDED
  }
  #sign1{
      color: #ffffff;
      background-color: #00b8d1;
      width: auto;
     height: 35px;
   }
   #sign{
    color: #ffffff;
    background-color: #6ec962;
    width: 140px;
    height: 50px;
  }
   body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      height: 100%;
      width: 7  0px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #004053;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .main {
      margin-left: 160px; /* Same as the width of the sidenav */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }
  
    .dot {
      height: 30px;
      width: 30px;
      background-color:  #004053;
      border-radius: 50%;
      display: inline-block;
    }
  
  
  .fa-2x {
  font-size: 2em;
  }
  .fa {
  display: table-cell;
  width: 70px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  }
  
  .main-menu:hover,nav.main-menu.expanded {
  width:200px;
  overflow:visible;
  }
  
  .main-menu {
  background:#004053;
  border-right:1px solid #e5e5e5;
  position:fixed;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  transition:width .1s linear;
  }
  
  .main-menu li {
  position:relative;
  display:block;
  width:230px;
  }
  
  .main-menu li>a {
  position:relative;
  display:table;
  color:whitesmoke;
   font-family: arial;
  font-size: 14px;
  text-decoration:none;
  }
  
  .main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  }
  
   .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#009DB2;
  width: 200px;
  }
  
  #maindiv{
    margin-left:300px;
    background-color: #EDEDED;
    border: none;  
    outline: none;
  }

  h3 {
    font-family:'proxima-nova',sans-serif;
    font-size: 14px;
  }

    .btn1 {
      cursor: pointer;  
      font-family:'proxima-nova',sans-serif;
      font-size: 14px;
    }
    
    .btn1.active {
      background-color: #00b8d1;
    }
    
    .row {
      margin: 10px -16px;
    }
    
    /* Add padding BETWEEN each column */
    .row,
    .row > .column {
      padding: 8px;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
      display: none; /* Hide all elements by default */
    }
    
    /* Clear floats after rows */ 
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Content */
    .content {
      background-color: white;
      padding: 10px;
    }
    
    /* The "show" class is added to the filtered elements */
    .show {
      display: block;
    }
    
    /* image button hover  */
    div.show-image {
      position: relative;
      float:left;
      margin:5px;
  }
  div.show-image:hover img{
      opacity:0.15;
  }
  div.show-image:hover button {
      cursor: pointer; 
      display: block;
  }
  div.show-image button {
      position:absolute;
      display:none;
  }
  div.show-image button.update {
      top:210px;
      left:30px;
      width: 195px;
      height: 40px;
      font-size: 15px;
      color: #668c98;
      margin-bottom: 12px;
  }

  div.show-image:hover span  {
    cursor: pointer; 
    display: block;
}

div.show-image span {
  position:absolute;
  display:none;
}

div.show-image span.update {
  top:90px;
  left:65px;
  width: 195px;
  height: 40px;
  font-size: 18px;
  color: #668c98;
  margin-bottom: 12px;
}

.fa-3x {
  font-size: 2em;
  padding-left: 40px;
  padding-bottom:15px;
  }
    