<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./assets/template.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top navbar-light bg-light" >
        <div class="container">
          <div>  <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="80px" width="110px"></a>
          </div>
          <div class="btn-group">
              <button type="button" id ="sign1" class="btn  dropdown-toggle" data-toggle="dropdown" *ngIf="logn.logged">
                  {{name}}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"> <small class="text-muted">Profile</small></a>
                <a class="dropdown-item" *ngIf="logn.logged" routerLink="/home" (click) = "logout()"> <small class="text-muted">Logout</small></a>
            </div>
          </div>
      </div>
      </nav>  
  

      <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-product-hunt fa-2x"></i>
                    <span class="nav-text">
                        Pipeline
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-archive fa-2x"></i>
                    <span class="nav-text">
                        Content Library
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-file-text-o fa-2x"></i>
                    <span class="nav-text">
                        Templates
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-bullseye fa-2x"></i>
                    <span class="nav-text">
                        Metrics
                    </span>
                </a>
               
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-2x"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-address-book-o fa-2x"></i>
                    <span class="nav-text">
                       Clients
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                   <i class="fa fa-plug fa-2x"></i>
                    <span class="nav-text">
                        Integrations
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                    <i class="fa fa-cog fa-2x"></i>
                    <span class="nav-text">
                        Setting
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
<br><br>
<div class="container"><h4 style="color:#004053">Step 1: Choose a template</h4>
  <p class="text-muted">A template is a pre-made proposal you can use to get started right away.</p>
  <br>
  <div style="background-color:white;padding: 15px">
    <p  class="text-muted" style="text-align:center;margin-top: 10px"> To start, choose any template so we can show you how Proposify works. You can pick a new template later.
    </p>
  </div>
  <br>
<div id="myBtnContainer">
                    <a class="btn btn1 active" onclick="filterSelection('all')" style="color: #668c98;">ALL</a>
                    <a class="btn btn1 " onclick="filterSelection('RESUME')" style="color: #668c98;">RESUME</a>
                    <a class="btn btn1 " onclick="filterSelection('PROPOSAL')" style="color: #668c98;">PROPOSAL</a>  
      </div>
      
      <!-- Portfolio Gallery Grid -->
      <div class="row">
        <div class="column RESUME ">
          <div class="content show-image">
            <img src="./assets/resume1.png" alt="RESUME" style="width:100%;height:300px">
            <button routerLink="/resumeuserdetail" class="update" type="button" ><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
            <span class="update" routerLink="/previewresume1"><i class="fa fa-file-text-o fa-3x"></i>Click to preview </span>            <br><br>
            <h3 style="color:#004053;">Resume</h3>
          </div>
        </div>
        <div class="column RESUME">
          <div class="content show-image">
          <img src="./assets/resume2.png" alt="RESUME" style="width:100%;height:300px">
          <button routerLink="/resumeuserdetail" class="update" type="button"><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
          <span class="update" routerLink="/previewresume2"><i class="fa fa-file-text-o fa-3x"></i> Click to preview</span>
          <br><br>
          <h3 style="color:#004053;">Resume</h3>
        </div>
        </div>
        <div class="column RESUME">
          <div class="content show-image">
          <img src="./assets/resume3.png" alt="RESUME" style="width:100%;height:300px">
          <button routerLink="/resumeuserdetail" class="update" type="button"><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
          <span class="update" routerLink="/previewresume3"><i class="fa fa-file-text-o fa-3x"></i> Click to preview</span>
          <br><br>
          <h3 style="color:#004053;">Resume</h3>
        </div>
        </div> 
        <div class="column RESUME">
            <div class="content show-image">
            <img src="./assets/resume4.png" alt="RESUME" style="width:100%;height:300px">
            <button routerLink="/resumeuserdetail" class="update" type="button"><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
            <span class="update" routerLink="/previewresume4"><i class="fa fa-file-text-o fa-3x"></i> Click to preview</span>
            <br><br>
            <h3 style="color:#004053;">Resume</h3>
        </div>
        </div>
        <div class="column PROPOSAL">
          <div class="content show-image" >
            <img src="./assets/proposal1/proposal1.0.png" alt="PROPOSAL" style="width:100%">
            <button routerLink="/proposalclientdetail"  class="update" type="button"><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
            <span class="update" routerLink="/previewresume5"><i class="fa fa-file-text-o fa-3x"></i> Click to preview</span>
            <br><br>
            <h3 style="color:#004053;">Accounting </h3>
          </div>
        </div>
        <div class="column PROPOSAL">
          <div class="content show-image">
          <img src="./assets/proposal2/proposal2.0.png" alt="PROPOSAL" style="width:100%">
          <button routerLink="/proposalclientdetail" class="update" type="button"><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
          <span class="update" routerLink="/previewresume6"><i class="fa fa-file-text-o fa-3x"></i> Click to preview</span>
          <br><br>
          <h3 style="color:#004053;">Agency Project Management Services</h3>
        </div>
        </div>
        <div class="column PROPOSAL">
          <div class="content show-image">
          <img src="./assets/proposal3/proposal3.0.png" alt="PROPOSAL" style="width:100%">
          <button routerLink="/proposalclientdetail" class="update" type="button"><i class="fa fa-plus" style=" display: inline; padding-right:10px "></i>Use This</button>            
          <span class="update" routerLink="/previewresume7"><i class="fa fa-file-text-o fa-3x"></i> Click to preview</span>
          <br><br>
          <h3 style="color:#004053;">HTML5 Mobile App</h3>
        </div>
        </div>
      <!-- END GRID -->
      </div>
    </div>

</body>
</html> 
