body{
  background-color: #EDEDED;
  font-family: "Lato", sans-serif
}

#sign1{
    color: #ffffff;
    background-color: #00b8d1;
    width: auto;
   height: 35px;
   cursor: pointer;
   
 }
 #sign{
  color: #ffffff;
  background-color: #5cb551 ;
  width: 140px;
  height: 55px;
}

  .sidenav {
    height: 100%;
    width: 7  0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #004053;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .dot {
    height: 30px;
    width: 30px;
    background-color:  #004053;
    border-radius: 50%;
    display: inline-block;
  }


.fa-2x {
font-size: 2em;
}
.fa {
display: table-cell;
width: 70px;
height: 50px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.main-menu:hover,nav.main-menu.expanded {
width:200px;
overflow:visible;
}

.main-menu {
background:#004053;
border-right:1px solid #e5e5e5;
position:fixed;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
transition:width .1s linear;
z-index: 1;
}

.main-menu li {
position:relative;
display:block;
width:230px;
}

.main-menu li>a {
position:relative;
display:table;
color:whitesmoke;
 font-family: arial;
font-size: 14px;
text-decoration:none;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

 .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#009DB2;
width: 200px;
}

.search { 
  position: relative; 
}
.search input { 
  text-indent: 35px;
}
.search .fa-search { 
  position: absolute;
  top: 15px;
}

#maindiv{
  margin-left:300px;
  background-color: #EDEDED;
  border: none;  
  outline: none;
}

#sign{
  color: #ffffff;
  background-color: #80c676;
}

.alert-success {
background-color: #c1efbb;
border-color: #54ab49;
color: #54ab49;
text-align: center;
font-family: 'proxima-nova',sans-serif;
padding: 15px;
}

/* arrow button style */
.btn-arrow-right{
position: relative;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
content:"";
position: absolute;
width: 40px; /* same as height */
height: 39px; /* button_outer_height / sqrt(2) */
background: #6ec962 ; /* use parent background */
}
.btn-arrow-right:before,
.btn-arrow-right:after {
transform: rotate(45deg); 
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
right: -18px;
bottom: 7px;
}