<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
  <div class="container">
  <a class="navbar-brand" href="#"><img src="./assets/proposifylogo.png" height="70px" width="100px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</nav>
<br><br><br><br>
<img src="./assets/welcome.png" height="10%" width="70%"  >
<br><br><br>
  <div style="text-align:center" >
      <h4 >Thank you, <b>{{name}}</b> for using our services !</h4>
      <small class="form-text text-muted">Make another Proposal/Resume click
      <a routerLink="/dashboard">here.</a> <br>
      OR <br>
      Please Logout 
      </small>
  <br>
  <a class="nav-link" *ngIf="!logn.logged" routerLink="/login" style="color:#004053"></a>
            <a class="btn" id="sign" *ngIf="logn.logged" routerLink="/home" (click) = "logout()">Logout</a>
  </div>
