<!DOCTYPE html>
<html ng-app="myapp"> 
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
            <script src="script.js"></script>  
    </head>

    <body ng-controller="myctrl" >

<h3>login</h3>

<form >
<label>Name</label><br>
<input type="text" ng-model="username"><br>
<label>Password</label><br>
<input type="password" ng-model="password"><br>
<button  type="submit" ng-click="submit()">login</button>
</form>

<h2>user table</h2>
  <ul>
    <li ng-repeat="user in myusers">
      <a>{{user.username}}</a>
    </li>
  </ul>


  
    </body>
</html>

