@charset "UTF-8";
/* RESET */
ul {
	margin: 0;
	padding: 0;
}

/* DOSSIER BACKGROUND */
/* ----------------------------------------- */

#wrapper {
	width:969px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
}

.wrapper-top {
	width:969px;
	height:19px;
	margin:0 auto;
	background-image:url(/assets/resume1/btop.jpg);
	background-repeat:no-repeat;
}

.wrapper-mid {
	width:969px;
	margin:0 auto;
	background-image:url(/assets/resume1/bmid.jpg);
	background-repeat: repeat-y;
	padding-bottom:40px;
}

.wrapper-bottom {
	width:969px;
	height:22px;
	padding:0;
	margin:0 auto;
	background-image:url(/assets/resume1/bbottom.jpg);
	background-repeat:no-repeat;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image:url(/assets/resume1/ptop.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(/assets/resume1/pmid.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.paper-bottom {
	width:828px;
	height:18px;
	margin:0 auto;
	background-image:url(/assets/resume1/pbottom.jpg);
	background-repeat:no-repeat;
}

/* ENTRIES */
/* ----------------------------------------- */

.entry {
	width:720px;
	display: block;
	padding-top:25px;
	clear: both;
	margin-left:4px;
}

h1  {
	width:250px;
	font-size:42px;
	color:#1b4491;
	margin-bottom:3px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#1b4491;
	margin-top:-5px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#1b4491;
	margin-bottom:-12px;
}

.p {
	width:500px;
	float:right;	
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:20px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#7b90b5;
}

h4 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 11px;
	color:#7b90b5;
}

h5 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 10px;
	color:#7b90b5;
}

h6 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 9px;
	color:#7b90b5;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(/assets/resume1/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(/assets/resume1/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}

ul.works {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}

ul.works li {
	margin:0;
	padding:0;
	float:left;
}

ul.works li img {
	padding:4px;
	background-color:#fff;
	width:95px;
	height:95px;
	border:1px solid #bdc7da;
	margin-right:20px;
	margin-bottom:16px;
}

ul.works li img:hover {
	border:1px solid #1b4491;
	cursor: pointer;
}

img.portrait {
	background-image:url(/assets/resume1/frame.jpg);
	background-repeat: no-repeat;
	width:109px;
	height:109px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;
	
}


/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
	width:400px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:15px;
}

.self ul {
	padding-top: 10px;
}

.self ul li.ad {
	background-image:url(/assets/resume1/icn-ad.gif);
}

.self ul li.mail {
	background-image:url(/assets/resume1/icn-mail.gif);
}

.self ul li.tel {
	background-image:url(/assets/resume1/icn-tel.gif);
}

.self ul li.dat {
	background-image:url(/assets/resume1/dat.png);
}

.self ul li.age {
	background-image:url(/assets/resume1/age.png);
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}

/* COLORBOX */
/* ----------------------------------------- */
#cboxTopLeft{width:25px; height:25px; background:url(/assets/resume1/border1.png) 0 0 no-repeat;}
#cboxTopCenter{height:25px; background:url(/assets/resume1/border1.png) 0 -50px repeat-x;}
#cboxTopRight{width:25px; height:25px; background:url(/assets/resume1/border1.png) -25px 0 no-repeat;}
#cboxBottomLeft{width:25px; height:25px; background:url(/assets/resume1/border1.png) 0 -25px no-repeat;}
#cboxBottomCenter{height:25px; background:url(/assets/resume1/border1.png) 0 -75px repeat-x;}
#cboxBottomRight{width:25px; height:25px; background:url(/assets/resume1/border1.png) -25px -25px no-repeat;}
#cboxMiddleLeft{width:25px; background:url(/assets/resume1/border2.png) 0 0 repeat-y;}
#cboxMiddleRight{width:25px; background:url(/assets/resume1/border2.png) -25px 0 repeat-y;}

/* slide menu*/
nav {
    border-bottom: thin solid darkgrey;
  }
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EDEDED;
    overflow-x: hidden;  
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
    text-decoration: none;
  }
  
  
  .main {
    margin-top: 55px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }

  #table-scroll {
    height:805px;
  }

/* arrow button style */
  .btn-arrow-right{
    position: relative;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: #83db77 ; /* use parent background */
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); 
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -12px;
}

#sign{
    color: #ffffff;
    background-color: #83db77;
    width:100px;
    height: 35px;
 }

 .sidenav-r {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#EDEDED;
    overflow-x: hidden;
    border-left: 10px; 
}

.sidenav-r a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #004053;
  display: block;
} 

.tr2,.tr3,.tr4,.tr5,.tr6,.tr7,.tr8,.tr9{
  display: none;
}

.fa {
  cursor: pointer;
  }
  