<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/JS/proposal3.js"></script>

<script type="text/javascript" src="proposalAccounnting/wz_jsgraphics.js"></script> 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button routerLink="/payment4" type="button" class="btn btn-arrow-right " id="sign">Purchase</button>
    </div>
</nav>

<div class="sidebar main" id="table-wrapper">
  <div id="table-scroll">
    <table style="width:100%">
        <tbody>
           <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a href="#resume1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
           <tr><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#resume1"> <img src="./assets/resume1.png" height="40px" width="50px"/> </a> </td></tr>
        </tbody>
    </table>
  </div>
</div>


<div class="container" >
  <!-- Begin Wrapper -->
  <div class="canvas_div_pdf" style="width:969px;margin:0 auto;margin-top:60px;margin-bottom:100px;">
    <div style="width:969px;height:19px;margin:0 auto;background-image:url(./assets/resume1/btop.jpg);background-repeat:no-repeat;"></div>
    <div style="width:969px;margin:0 auto;background-image:url(./assets/resume1/bmid.jpg);background-repeat: repeat-y;padding-bottom:40px;">
      <!-- Begin Paper -->
      <div style="width:828px;margin:0 auto;">
        <div style="width:828px;margin:0 auto;background-image:url(./assets/resume1/ptop.jpg);background-repeat:no-repeat;height:126px;"></div>
        <div id="froala-editor">
        <div style="width:828px;margin:0 auto;background-image:url(./assets/resume1/pmid.jpg);background-repeat:repeat-y;display:block;padding:0;overflow: hidden;padding-bottom:55px;padding-top:7px;">
          <div style="width:720px;display: block;padding-top:35px;clear: both;margin-left:4px;">
            <!-- Begin Personal Information -->
            <div style="width:400px;float:left;padding-top:11px;margin-left:38px;margin-bottom:15px;">
              <h1 style="width:250px;font-size:42px;color:#1b4491;margin-bottom:3px;clear:both;">{{name}}</h1>
              <ul style="padding-top: 10px;margin: 0;padding: 0;">
                <li style="background-image:url(./assets/resume1/icn-ad.gif);background-repeat: no-repeat;padding-left:26px;background-position: 0.1em;height:25px;display:block;margin-top:-2px;">{{add}}, {{rcity}}, {{stat}}, {{count}}</li>
                <li style="background-image:url(./assets/resume1/icn-mail.gif);background-repeat: no-repeat;padding-left:26px;background-position: 0.1em;height:25px;display:block;margin-top:-2px;">{{eid}}</li>
                <li style="background-image:url(./assets/resume1/icn-tel.gif);background-repeat: no-repeat;padding-left:26px;background-position: 0.1em;height:25px;display:block;margin-top:-2px;">{{mob}}</li>
                <li style="background-image:url(./assets/resume1/dat.png);background-repeat: no-repeat;padding-left:26px;background-position: 0.1em;height:25px;display:block;margin-top:-2px;">{{dob}}</li>
                <li style="background-image:url(./assets/resume1/age.png);background-repeat: no-repeat;padding-left:26px;background-position: 0.1em;height:25px;display:block;margin-top:-2px;">{{age}} Years</li>
              </ul>
            </div>
            <!-- End Personal Information -->
          </div>
          <!-- Begin 1st Row -->
          <div style="width:720px;display: block;padding-top:35px;clear: both;margin-left:4px;">
            <h2 style="width:180px;height: 23px;text-align: right;float:left;padding:0;margin:0;clear:both;font-size:22px;color:#1b4491;margin-bottom:-12px;">OBJECTIVE</h2>
            <p style="width:500px;margin-left:20px;float:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim viverra nibh sed varius. Proin bibendum nunc in sem ultrices posuere. Aliquam ut aliquam lacus.</p>
          </div>
          <!-- End 1st Row -->
          <!-- Begin 2nd Row -->
          <div style="width:720px;display: block;padding-top:25px;clear: both;margin-left:4px;">
            <h2 style="width:180px;height: 23px;text-align: right;float:left;padding:0;margin:0;clear:both;font-size:22px;color:#1b4491;margin-bottom:-12px;">EDUCATION</h2>
            <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:20px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;"> 10th </h3>
              <p style="width:500px;margin-left:20px;float:right;">{{tensch}}<br />
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Percentage :- {{tenper}}%</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Passing Year  :- {{tenpass}}</em></p>
            </div>
            <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:8px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;"> 12th </h3>
              <p style="width:500px;margin-left:20px;float:right;">{{twlsch}}<br />
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Percentage :- {{twlper}}%</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Passing Year  :- {{twlpass}}</em></p>
            </div>
            <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:8px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">Graduation</h3>
              <p style="width:500px;margin-left:20px;float:right;">{{gcoll}}<br />
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Stream :- {{gstr}}</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Percentage :- {{gper}}%</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Passing Year  :- {{gpass}}</em></p>
            </div>
            <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:8px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">Post Graduation</h3>
              <p style="width:500px;margin-left:20px;float:right;">{{pgcoll}}<br />
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Stream :- {{pgstr}}</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Percentage :- {{pgper}}%</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Passing Year  :- {{pgpass}}</em></p>
            </div>
          </div>
          <!-- End 2nd Row -->
          <!-- Begin 3rd Row -->
          <div style="width:720px;display: block;padding-top:25px;clear: both;margin-left:4px;">
            <h2 style="width:180px;height: 23px;text-align: right;float:left;padding:0;margin:0;clear:both;font-size:22px;color:#1b4491;margin-bottom:-12px;">EXPERIENCE</h2>
            <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:20px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">{{sdate}} - {{edate}}</h3>
              <p style="width:500px;margin-left:20px;float:right;">{{comnam}}<br />
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Job Profile :- {{jobpro}}</em>
                <em style="font-family: Georgia, 'Times New Roman', serif;font-style: italic;color:#777777;font-size:12px;display: block;padding-top:3px;">Year of Experience:- {{exper}}</em></p>
            </div>
          </div>
          <!-- End 3rd Row -->
          <!-- Begin 4th Row -->
          <div style="width:720px;display: block;padding-top:25px;clear: both;margin-left:4px;">
            <h2 style="width:180px;height: 23px;text-align: right;float:left;padding:0;margin:0;clear:both;font-size:22px;color:#1b4491;margin-bottom:-12px;">SKILLS</h2>
            <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:20px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">Techinical Languages</h3>
              <ul style="margin:0;padding:0;float:right;width:500px;margin-left:40px;margin-top:-6px;list-style-type: none;">
                <li style="margin:0;padding:0;float:left;width:156px;background-image:url(./assets/resume1/bullet.gif);background-repeat: no-repeat;padding-left:10px;background-position: 0 .5em;margin-top:6px; ">{{skil}}</li>
              </ul>
            </div>
              <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:8px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">Achivement</h3>
              <ul style="float:right;width:500px;margin-left:40px;list-style-type: none; margin: 0;padding: 0;">
                <li style="margin:0;padding:0;float:left;display: block;width:156px;background-image:url(./assets/resume1/bullet.gif);background-repeat: no-repeat;padding-left:10px;background-position: 0 .5em;margin-top:6px;">{{achiv}}</li>
              </ul>
            </div>
        <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:8px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">Languages</h3>
              <ul style="margin:0;padding:0;float:right;width:500px;margin-left:40px;margin-top:-6px;list-style-type: none;">
                <li  style="margin:0;padding:0;float:left;width:156px;background-image:url(./assets/resume1/bullet.gif);background-repeat: no-repeat;padding-left:10px;background-position: 0 .5em;margin-top:6px; ">{{lang}}</li>
              </ul>
            </div>
        <div style="clear: both;padding:0;margin:0;overflow: hidden;display:block;padding-top:8px;">
              <h3 style="width:180px;text-align: right;float:left;padding:0;clear:both;font-size: 13px;color:#7b90b5;">Hobbies</h3>
              <ul style="margin:0;padding:0;float:right;width:500px;margin-left:40px;margin-top:-6px;list-style-type: none;">
                <li  style="margin:0;padding:0;float:left;width:156px;background-image:url(./assets/resume1/bullet.gif);background-repeat: no-repeat;padding-left:10px;background-position: 0 .5em;margin-top:6px; ">{{hobb}}</li>
              </ul>
            </div>
          </div>
          <!-- End 4th Row --> 
        </div>
      </div>
        <div style="width:828px;height:18px;margin:0 auto;background-image:url(./assets/resume1/pbottom.jpg);background-repeat:no-repeat;"></div>
      </div>
      <!-- End Paper -->
    </div>
    <div style="width:969px;height:22px;padding:0;margin:0 auto;background-image:url(./assets/resume1/bbottom.jpg);background-repeat:no-repeat;"></div>
  </div>
  <!-- End Wrapper -->
  </div>


  <div class="sidenav-r">
    <br><br>
  <div>
      <table style="width:100%">
              <tbody>
                  <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>RESUME DETAILS  </b> </small></th> </tr> 
              </tbody>
      </table>
      </div>
      <p>
          <label style="margin-top: 10px; padding-left: 20px;"><span> <small class="text-muted">NAME & CLIENT</small></span></label>
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> NAME :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> Resume </b></font></small> 
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> CLIENT :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> {{name}} </b></font></small>
        </p> 
        <hr> 
        <p>
            <label style="padding-left: 20px;"><span> <small class="text-muted">RESUME PRICE</small></span></label>
            <br>
            <small class="text-muted" style="padding-left: 20px;"><font size="2"> One Time Fee :-</font></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> INR1,200.00 </b></font></small> 
            <br>
            <small class="text-muted" style="padding-left: 20px;"><input type="checkbox" aria-label="Checkbox for following text input" checked></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2">Include taxes in preview </font></small>
            <i class="fa fa-question-circle"></i>
          </p> 

          <div id="content" #content> 
						<div>
						 <input class="btn" type="button" value="Download" (click)="generatePDF()"/> 
						 </div>
				</div>
				<br>
             
</div>
  
</body>
<script>

</script>
</html>
