<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/JS/rescanvas1.js"></script>

<script type="text/javascript" src="proposalAccounnting/wz_jsgraphics.js"></script> 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button routerLink="/payment4" type="button" class="btn btn-arrow-right " id="sign">Purchase</button>
    </div>
</nav>

<div class="sidebar main" id="table-wrapper">
  <div id="table-scroll">
    <table style="width:100%">
        <tbody>
           <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a href="#resume1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
           <tr><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#resume1"> <img src="./assets/resume1.png" height="40px" width="50px"/> </a> </td></tr>
        </tbody>
    </table>
  </div>
</div>

<div class="container" >
<!-- Begin Wrapper -->
<div class="canvas_div_pdf" id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name"> <canvas id="p1" width="250px"></canvas><br /></h1>
            <ul>
              <li class="ad"><canvas id="p2" width="700px"></canvas><br /></li>
              <li class="mail"></li>
              <li class="tel"></li>
              <li class="dat"></li>
              <li class="age"></li>
            </ul>
          </div>
          <!-- End Personal Information -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry ">
          <h2 style="margin-left:8%"><canvas id="p3" width="170px" ></canvas></h2>
          <p class="p bottom" style="height:50px;"><canvas id="p4" width="600px" height="90px"></canvas></p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2 style="margin-left:7%"><canvas id="p5" width="150px" height="70px"></canvas></h2>
          <div class="content top">
            <h3 class="top" style="margin-left:130px"><canvas id="p6" width="60px" height="40px"></canvas>  </h3>
            <p class="p top"><canvas id="p7" width="170px" height="70px"></canvas><br />
              </p>
          </div>
          <div class="content">
            <h3 style="margin-left:130px; position: unset" ><canvas id="p8" width="60px" height="40px" ></canvas>  </h3>
            <p class="p"><canvas id="p9" width="170px"  height="70px"></canvas><br />
              </p>
          </div>
          <div class="content">
            <h3 style="margin-left:85px; position: unset" ><canvas id="p10" width="100px" height="40px" ></canvas>  </h3>
            <p class="p"><canvas id="p11" width="200px"  height="100px"></canvas><br />
              </p>
          </div>
          <div class="content">
            <h3 style="margin-left:45px; position: unset" ><canvas id="p12" width="140px" height="40px" ></canvas>  </h3>
            <p class="p"><canvas id="p13" width="200px"  height="100px"></canvas><br />
              </p>
          </div>
        </div>
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
            <h2 style="margin-left:6%"><canvas id="p14" width="150px" height="70px"></canvas></h2>
            <div class="content top">
                <h3 class="top" style="margin-left:60px"><canvas id="p15" width="120px" height="40px"></canvas>  </h3>
                <p class="p top"><canvas id="p16" width="400px" height="70px"></canvas><br />
                  </p>
              </div>
        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
            <h2 style="margin-left:14%"><canvas id="p17" width="150px" height="70px"></canvas></h2>
            <div class="content top">
                <h3 class="top" style="margin-left:60px"><canvas id="p18" width="120px" height="20px"></canvas>  </h3>
                <p class="p top"><canvas id="p19" width="400px" height="20px"></canvas><br />
                  </p>
              </div>
            <div class="content top">
                <h3 style="margin-left:85px"><canvas id="p20" width="120px" height="20px"></canvas>  </h3>
                <p class="p "><canvas id="p21" width="400px" height="20px"></canvas><br />
                  </p>
              </div>
            <div class="content top">
                <h3 style="margin-left:90px"><canvas id="p22" width="120px" height="20px"></canvas>  </h3>
                <p class="p "><canvas id="p23" width="400px" height="20px"></canvas><br />
                  </p>
              </div>
            <div class="content top">
                <h3 style="margin-left:105px"><canvas id="p24" width="120px" height="20px"></canvas>  </h3>
                <p class="p "><canvas id="p25" width="400px" height="20px"></canvas><br />
                  </p>
              </div>
        </div>
        <!-- End 4th Row --> 
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<!-- End Wrapper -->
</div>


  <div class="sidenav-r">
    <br><br>
    <div>
    <table style="width:100%">
            <tbody>
                <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>IMAGE PROPERTIES</b> </small></th> </tr> 
            </tbody>
    </table>
    </div>
  <div id="text-wrapper" style="margin-top: 10px; padding-left: 20px;" >
    <div id="text-controls">
        <div class="row">
            <div class="col"> <p>
                <label><span> <small class="text-muted">Width</small></span> <input type="number" class="form-control input-xs" id="left-control" value="24" min="-500" max="300"></label>
              </p></div>
            <div class="col"><p>
                <label><span><small class="text-muted">Height</small></span> <input type="number" class="form-control input-xs" id="top-control" value="10" min="-500" max="300" style="width:75px;height: 35px"></label>
              </p></div>
          </div>    
          <div class="row" >
              <div class="col" ><p>
                  <label><span><small class="text-muted">Corners</small></span> <input type="number" class="form-control input-xs" id="scale-control" value="0.7" min="0.1" max="3" step="0.1" style="width:75px;height: 35px"></label>
                </p></div>
              <div class="col"><p>
                  <label><span><small class="text-muted">Rotate</small></span> <input type="number" class="form-control input-xs" id="angle-control" value="0"  min="0" max="360" style="width:75px;height: 35px"></label>
                </p></div>
          </div>
      </div>
  </div>
  <div>
    <table style="width:100%">
            <tbody>
                <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>TEXT PROPERTIES</b> </small></th> </tr> 
            </tbody>
    </table>
    </div>
  <div id="text-wrapper" style="margin-top: 10px; padding-left: 20px;" >
    <div id="text-controls">
        <div class="row">
            <div class="col"> <p>
                <label><i class="fa fa-bold"  id="bold" aria-hidden="true"></i></label>
              </p></div>
            <div class="col"><p>
                <label><i class="fa fa-italic"  id="italic" aria-hidden="true"></i></label>
              </p></div>
              <div class="col" ><p>
                  <label><i class="fa fa-superscript" id="super-script" aria-hidden="true"></i></label>
                </p></div>
              <div class="col"><p>
                  <label><i class="fa fa-subscript" id="sub-script" aria-hidden="true"></i></label>
                </p></div>
          </div>
          <div class="row">
                <div class="col"> <p>
                        <label><span> <small class="text-muted">Font Colour</small></span><input type="color" class="form-control input-xs" value="24" min="-500" max="300" style="width:75px;height: 35px;" id="color"></label>    
                  </p></div>
                  <div class="col"><p>
                        <label><span> <small class="text-muted">Font Size</small></span><input type="number" class="form-control input-xs" min="5" max="150" value="20" style="width:75px;height: 35px;" id="size"></label>
                  </p></div>
                <div class="col"><p>
                        <label><span> <small class="text-muted">BG Color</small></span><input type="color" class="form-control input-xs" value="24" min="-500" max="300" style="width:75px;height: 35px;" id="bg-color"></label>
                  </p></div>
                  <div class="col">
                  <label><span><small class="text-muted">Font Style</small></span>
                        <select id="font-family" class="form-control" style="height: 35px;">
                            <option value="arial">Arial</option>
                            <option value="myriad pro">Myriad Pro</option>
                            <option value="courier">Courier</option>
                            <option value="comic sans ms">Comic Sans MS</option>
                        </select></label>
                    </div>
              </div>
      </div>
    </div>
  <div>
      <table style="width:100%">
              <tbody>
                  <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 1px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>RESUME DETAILS  </b> </small></th> </tr> 
              </tbody>
      </table>
      </div>
      <p>
          <label style="margin-top: 10px; padding-left: 20px;"><span> <small class="text-muted">NAME & CLIENT</small></span></label>
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> NAME :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> Resume </b></font></small> 
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> CLIENT :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> {{name}} </b></font></small>
        </p> 
        <hr> 
        <p>
            <label style="padding-left: 20px;"><span> <small class="text-muted">RESUME PRICE</small></span></label>
            <br>
            <small class="text-muted" style="padding-left: 20px;"><font size="2"> One Time Fee :-</font></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> INR1,200.00 </b></font></small> 
            <br>
            <small class="text-muted" style="padding-left: 20px;"><input type="checkbox" aria-label="Checkbox for following text input" checked></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2">Include taxes in preview </font></small>
            <i class="fa fa-question-circle"></i>
          </p> 

          <div id="content" #content> 
						<div>
						 <input class="btn" type="button" value="Download" (click)="generatePDF()"/> 
						 </div>
				</div>
				<br>
             
</div>
  
</body>
<script>

</script>
</html>
