<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/JS/proposal3.js"></script>

<script type="text/javascript" src="proposalAccounnting/wz_jsgraphics.js"></script> 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar-light bg-light" >
    <div class="container-fluid">
        <button routerLink="/dashboard" type="button" class="btn btn-sm text-muted" style="background-color:white;width: 70px" >&#9666; Back</button>
        <button class="btn btn-arrow-right" id="sign" *ngIf="!pay.payed" [routerLink]="['/Payment',this.param1]" type="button"> Purchase </button>
        <button style="background-color: #83db77;border: none; border-radius: 0.5rem;"   *ngIf="pay.payed">
            <div id="content" #content> 
                    <input class="btn" id ="sign" style="padding: 0rem 0rem;" type="button" value="Download" *ngIf="pay.payed" (click)="generatePDF()"/> 
                </div>
      </button>  
    </div>
</nav>

<div class="sidebar main" id="table-wrapper">
  <div id="table-scroll">
    <table style="width:100%">
        <tbody>
           <tr style="background-color: white;"> <th style=" border-bottom: 1px solid darkgrey"><a href="#resume1" style="padding:1%"><small style="color:#004053;">Cover</small></a></th> </tr> 
           <tr><td style=" border-bottom: 1px solid darkgrey ;height: 70px;"><a href="#resume1"> <img src="./assets/resume3.png" height="40px" width="50px"/> </a> </td></tr>
        </tbody>
    </table>
  </div>
</div>

<div class="container" style="top: 70px;" >
  <!-- Begin Wrapper -->
  <div id="froala-editor" class="canvas_div_pdf" style="width: 800px;height: 1230px; margin: 75px 150px;border-style:outset">
    
    <div id="contact-info" class="vcard">
    
        <!-- Microformats! -->
    
        <h1 style="padding: 0 0 16px 0;padding: 20px 0 16px 20px; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999;">{{name}}</h1>
    
        <p style="margin: 0 0 0px 0;padding: 0px 0 16px 20px;">
            Cell: <span class="tel">{{mob}}</span><br />
            Email: <a class="email" href="{{eid}}">{{eid}}</a>
        </p>
    </div>
            
    <div style="float: left;">
        <p style="margin: 0 0 0px 0;padding: 0px 0 16px 20px;font-family: Georgia, Serif; font-style: italic; color: #666; ">
            I am an outgoing and energetic (ask anybody) young professional, seeking a 
            career that fits my professional skills, personality, and murderous tendencies. 
            My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
            I can bring world domination to your organization. 
        </p>
    </div>
    
    <div style="clear: both;float: none; margin: 0; height: 20px;"></div>
    
    <dl style="margin: 0; padding: 0; ">
        <dd style="clear: both;float: none; margin: 0; float: right; margin: 0; padding: 0; "></dd>
        
        <dt style="font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;">Personal</dt>
        <dd style="list-style-type: none;column-count:2;margin-bottom: 20px;font-size: 1em;width: 600px; float: right; margin: 0; padding: 0; ">
            <p style="margin: 0 0 16px 0;"><strong>Name :</strong> {{name}}<br />
               <strong>Date of Birth :</strong> {{dob}}<br />
   <strong>Age :</strong> {{age}} year<br />
   <strong>Mobile :</strong> {{mob}}<br />
   <strong>Email :</strong> {{eid}}<br />
   <strong>Address :</strong> {{add}}<br />
   <strong>Country :</strong> {{count}}<br />
   <strong>State :</strong> {{stat}}<br />
   <strong>City :</strong> {{rcity}}</p>
        </dd>
        
        <dd style="clear: both;float: none; margin: 0; height: 30px;width: 600px; float: right; "></dd>
  
        <dd style="clear: both;float: none; margin: 0; float: right; "></dd>
        
        <dt style="height: 210px;font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 160px; border-right: 1px solid #999;">Education</dt>
        <dd style="list-style-type: none;column-count:2;margin-bottom: 20px;font-size: 1em;width: 600px; float: right;margin: 0; padding: 0;  ">
            <h2 style="font-size: 20px; margin: 0 0 6px 0; position: relative;">Collage</h2>
            <p style="margin: 0 0 16px 0;"><strong>Graduation Collage :</strong> {{gcoll}}<br />
   <strong>Graduation Stream :</strong> {{gstr}}<br />
   <strong>Graduation Percentage :</strong> {{gper}}%<br />
   <strong>Graduation Passing year :</strong> {{gpass}}<br />
   <strong>PG Collage :</strong> {{pgcoll}}<br />
   <strong>PG Stream :</strong> {{pgstr}}<br />
   <strong>PG Percentage :</strong> {{pgper}}%<br />
               <strong>PG Passing year :</strong> {{pgpass}}</p>
        </dd>

<dd style="list-style-type: none;column-count:2;margin-bottom: 20px;font-size: 1em;width: 600px; float: right; ">
            <h2 style="font-size: 20px; margin: 0 0 6px 0; position: relative;">School</h2>
            <p style="margin: 0 0 16px 0;"><strong>Tenth School :</strong> {{tensch}}<br />
   <strong>Tenth Percentage :</strong> {{tenper}}%<br />
   <strong>Tenth Passing year :</strong> {{tenpass}}<br /><br /><br />
   <strong>Twelth School :</strong> {{twlsch}}<br />
   <strong>Twelth Percentage :</strong> {{twlper}}%<br />
   <strong>Twelth Passing year :</strong> {{twlpass}}</p>
        </dd>
        
        <dd style="clear: both;float: none; margin: 0; float: right; "></dd>
        
        <dt style="font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 70px; border-right: 1px solid #999;">Skills</dt>
        <dd style="width: 600px; float: right;margin: 0; padding: 0;  ">
            <ul style="padding-left: 20px;">
  <li>{{skil}}</li>
</ul>   
        </dd>
         <dd style="clear: both;float: none; margin: 0; height: 30px;width: 600px; float: right; "></dd>

        <dd style="clear: both;float: none; margin: 0; float: right; "></dd>
        
        <dt style="height: 120px;font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 130px; border-right: 1px solid #999;">Experience</dt>
        <dd style="list-style-type: none;margin-bottom: 20px;font-size: 1em;width: 600px; float: right;margin: 0; padding: 0; ">
            <h2 style="font-size: 20px; margin: 0 0 6px 0; position: relative;">Job Title at Company</h2>
  <p style="margin: 0 0 16px 0;">{{sdate}} - {{edate}}</p>
      <h3  style="font-size: 20px; margin: 0 0 6px 0; position: relative;margin: 0; padding: 0;">Job Details</h3>
      <ul style="padding-left: 20px;margin-top: 5px;">
    <li>Experience : {{exper}}</li>
    <li>Job Profile : {{jobpro}}</li>
    <li>Company Name : {{comnam}}</li>
  </ul><br>
        </dd>
        
        <dd style="clear: both;float: none; margin: 0; float: right; "></dd>

<dt style="font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 70px; border-right: 1px solid #999;">Achivement</dt>
        <dd style="width: 600px; float: right;margin: 0; padding: 0; ">
            <ul style="padding-left: 20px;">
  <li>{{achiv}}</li>
</ul>   
        </dd>
   <dd style="clear: both;float: none; margin: 0; height: 30px;width: 600px; float: right; "></dd>

         <dd style="clear: both;float: none; margin: 0; float: right; "></dd>

        <dt style="height: 150px;font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;">Languages & Hobbies</dt>
        <dd style="list-style-type: none;column-count:2;margin-bottom: 20px;font-size: 1em;width: 600px; float: right;margin: 0; padding: 0; ">
      <h3  style="font-size: 20px; margin: 0 0 6px 0; position: relative;margin: 0; padding: 0;">Languages</h3>
    <ul style="padding-left: 20px;margin-top: 5px;">
      <li>{{lang}}</li>
    </ul>
<br>
      <h3  style="font-size: 20px; margin: 0 0 6px 0; position: relative;margin: 0; padding: 0;">Hobbies</h3>
    <ul style="padding-left: 20px;margin-top: 5px;">
      <li>{{hobb}}</li>
    </ul>
  </dd>
        
        <dd style="clear: both;float: none; margin: 0; height: 15px;width: 600px; float: right; "></dd>
        
    </dl>
    <div style="clear: both;float: none; margin: 0; height: 15px;width: 600px; float: right; "></div>

</div>
  <!-- End Wrapper -->
  </div>


  <div class="sidenav-r">
    <br><br>
  <div>
      <table style="width:100%">
              <tbody>
                  <tr style="background-color: #EDEDED;"> <th style=" border-bottom: 1px solid darkgrey;padding:2%;border-top: 4px solid darkgrey;padding:2%;padding-left:15px"><small style="color:#004053;"> <b>RESUME DETAILS  </b> </small></th> </tr> 
              </tbody>
      </table>
      </div>
      <p>
          <label style="margin-top: 10px; padding-left: 20px;"><span> <small class="text-muted">NAME & CLIENT</small></span></label>
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> NAME :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> Resume </b></font></small> 
          <br>
          <small class="text-muted" style="padding-left: 20px;"><font size="2"> CLIENT :-</font></small>
          <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> {{name}} </b></font></small>
        </p> 
        <hr> 
        <p>
            <label style="padding-left: 20px;"><span> <small class="text-muted">RESUME PRICE</small></span></label>
            <br>
            <small class="text-muted" style="padding-left: 20px;"><font size="2"> One Time Fee :-</font></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2" color="#004053"> <b> INR1,500.00 </b></font></small> 
            <br>
            <small class="text-muted" style="padding-left: 20px;"><input type="checkbox" aria-label="Checkbox for following text input" checked></small>
            <small class="text-muted" style="padding-left: 5px"><font size="2">Include taxes in preview </font></small>
            <i class="fa fa-question-circle"></i>
          </p>          
</div>
  
</body>
<script>

</script>
</html>
